body {
  overflow: hidden;
}

.o2o_header {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #f1f1f1;
  font-size: 21px;
}

.header_back {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('../../Images/O2O/Home.png');
  position: absolute;
  display: inline-block;
  z-index: 888;
  margin-top: 15px;
  left: 10px;
}

.header_title {
  text-align: center;
}

.o2o_content {
  width: 100%;
  position: absolute;
  top: 50px;
  display: flex;
  height: 100%;
}

#shop_list {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.price_list {
  width: 25%;
  height: 100%;
  display: inline-block;
  overflow-y: scroll;
  background-color: #f1f1f1;
}

.price_item {
  width: 100%;
  text-align: center;
  height: 80px;
  /* line-height: 80px; */  /* v3 样式换行，去掉这个加上 display, align-items,vertical-align*/
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  border-bottom: 1px solid #ffffff;
  font-size: 14px;
  cursor:pointer;  /* v3 iphone 手机添加的html事件失效兼容性问题 */
}

.price_active {
  background-color: #ffffff;

}

.pdt_list {
  width: 73%;
  height: 100%;
  display: inline-block;
  overflow-y: scroll;
  padding-bottom: 65px;
}

.pdt_list_header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  white-space:nowrap; /* v3 强制价格不换行 */
}

.header-image {
  display: inline-block;
  width: 65px;
  height: 7px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header-left-image {
  margin-right: 10px;
  background-image: url('../../Images/O2O/left.png');
}

.header-right-image {
  margin-left: 10px;
  background-image: url('../../Images/O2O/right.png');
}

.pdt_list_content_item {
  text-align: center;
  margin: 0 10px;
  border-bottom: 1px solid #f1f1f1;
  cursor:pointer;  /* v3 iphone 手机添加的html事件失效兼容性问题 */
}

.pdt_list_content_item > img {
  margin-top: 10px;
}

.pdt-label {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  /*display: -webkit-box;*/
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  padding: 0 20px;
  font-size: 14px;
  color: #333333;
  height:150px;
}

.pdt-price {
  text-align: left;
  padding: 0 20px;
}

.price_symbal {
  font-size: 14px;
  color: #ff4b59;
}

.price {
  font-size: 22px;
  color: #ff4b59;
}

/*.pdt-label {
  font-size: 14px;
  color: #333333;
}*/

.pdt-tag {
  text-align: left;
  padding: 0 20px;
  margin: 10px 0;
}

.pdt-tag-label {
  border: 2px solid #c79f84;
  font-size: 10px;
  color: #c79f84;
  width: 40px;
  text-align: center;
  display: inline-block;
}

.o2o_modal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 888;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: none;
}

.o2o_modal_content {
  position: relative;
  width: 80%;
  margin: auto;
}

.o2o_modal_content_body {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0 20px 20px 20px;
}

.o2o_modal_content_header {
  height: 66px;
  line-height: 66px;
  text-align: center;
  font-size: 19px;
}


.o2o_modal_content_btn {
  width: 100%;
  height: 50px;
  background-color: #ff4b59;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  -moz-box-shadow: 0px 8px 15px rgba(255, 75, 89, 0.2);
  /* 老的 Firefox */
  box-shadow: 0px 8px 15px rgba(255, 75, 89, 0.2);
}

.o2o_modal_close {
  text-align: center;
  padding-top: 50px;
}

.o2o_modal_close_body {
  width: 40px;
  height: 40px;
  background-image: url('../../Images/O2O/close.png');
  background-size: 100%;
  margin: auto;
  opacity: 0.3;
}

.pdt_list_modal_item {
  text-align: center;
  margin: 0 10px;
  border-bottom: 1px solid #f1f1f1;
}

.div_UserInfo{
        
    font-size:9px;
    position:absolute;
    right:10px;
    z-index:999;
}
 .o2o_header div
{
    display:inline-block;

}