body {
  overflow-x: hidden;
}

.header_back {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('../../Images/O2O/Home.png');
  position: absolute;
  display: inline-block;
  z-index: 888;
  margin-top: 15px;
  left: 10px;
}

.header_title {
  text-align: center;
}

.o2o_header {
  height: 50px;
  width: 100%;
  /*position: absolute;*/
  top: 0px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #f1f1f1;
  font-size: 21px;
}

.o2o_content {
  width: 100%;
  /*position: absolute;*/
  top: 50px;
  display: flex;
  height: 90%;
}

#order_list {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 10px 20px 0 20px;
}
.order_number {
  width: 100%;
  height: 60px;
}

.order_number_logo {
  display: inline-block;
  width: 10%;
  height: 40px;
  /*vertical-align: top;*/
  text-align: center;
  position: relative;
}

.order_number_logo:after {
  content: '';
  width: 22px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  z-index: 99;
  top: 0;
  right: -11px;
  background-image: url('../../Images/O2O/orderLogo.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-y:center;

}

.order_number_content {
  display: inline-block;
  width: 60%;
  height: 55px;
  vertical-align: -webkit-baseline-middle;
  padding: 0 0 0 15px;
}

.order_item {
  width: 100%;
  height: 120px;
}

.step_time {
  display: inline-block;
  width: 30%;
  height: 120px;
  vertical-align: top;
  text-align: center;
  border-right: 2px solid #e3e3e3;
  position: relative;
}
.step_time:after {
  content: '';
  width: 14px;
  height: 14px;
  background-color: #e3e3e3;
  border-radius: 50%;
  position: absolute;
  z-index: 99;
  top: 0;
  right: -8px;
}
.step_time > .step_time_title {
  font-size: 13px;
  color: #bbbbbb;
}

.step_time > .step_time_desc{
  font-size: 12px;
  color: #bbbbbb;
  -webkit-transform:scale(0.91);
}

.step_time_end {
  display: inline-block;
  width: 30%;
  height: 120px;
  vertical-align: top;
  text-align: center;
  position: relative;
}

.step_time_end:after {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 99;
  top: 0;
  right: -12px;
  background-image: url('../../Images/O2O/done.png');
  background-size: 100%;
}

.step_time_end > .step_time_title {
  font-size: 13px;
  color: #F23131;
}

.step_time_end > .step_time_desc {
  font-size: 12px;
  color: #F23131;
  -webkit-transform:scale(0.91);
}

.step_time_done{
  display: inline-block;
  width: 30%;
  height: 120px;
  vertical-align: top;
  text-align: center;
  position: relative;
  border-right: 2px solid #F23131;
}

.step_time_done:after {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  z-index: 99;
  top: 0;
  right: -8px;
  border-radius: 50%;
  background-color: #F23131;
}

.step_time_done > .step_time_title {
  font-size: 13px;
}

.step_time_done > .step_time_desc {
  font-size: 12px;
  -webkit-transform:scale(0.91);
}

.step_time_current {
  display: inline-block;
  width: 30%;
  height: 120px;
  vertical-align: top;
  text-align: center;
  position: relative;
  border-right: 2px solid #e3e3e3;
}

.step_time_current:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 99;
  top: 0;
  right: -9px;
  background-image: url('../../Images/O2O/current.png');
  background-size: 100%;
}

.step_time_current > .step_time_title {
  font-size: 13px;
  color: #F23131;
}

.step_time_current > .step_time_desc {
  font-size: 12px;
  color: #F23131;
  -webkit-transform:scale(0.91);
}

.step_desc {
  display: inline-block;
  width: 68%;
  height: 120px;
  vertical-align: top;
  padding: 0 0 0 15px;
}

.step_desc > .step_desc_title {
  font-size: 16px;
  color: #999999;
  overflow: hidden;
  text-overflow:ellipsis;
  /*white-space: nowrap;*/
  margin-bottom: 5px;
}

.step_desc > .step_desc_info {
  font-size: 13px;
  color: #999999;
  /*display: -webkit-box;*/
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.step_desc_end {
  display: inline-block;
  width: 68%;
  height: 120px;
  vertical-align: top;
  padding: 0 0 0 15px;
}

.step_desc_end > .step_desc_title {
  font-size: 16px;
  color: #F23131;
  overflow: hidden;
  text-overflow:ellipsis;
  /*white-space: nowrap;*/
  margin-bottom: 5px;
}

.step_desc_end > .step_desc_info {
  font-size: 13px;
  color: #F23131;
  /*display: -webkit-box;*/
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.step_desc_done {
  display: inline-block;
  width: 68%;
  height: 120px;
  vertical-align: top;
  padding: 0 0 0 15px;
}

.step_desc_done > .step_desc_title {
  font-size: 16px;
  color: #333333;
  overflow: hidden;
  text-overflow:ellipsis;
  /*white-space: nowrap;*/
  margin-bottom: 5px;
}

.step_desc_done > .step_desc_info {
  font-size: 13px;
  color: #999999;
  /*display: -webkit-box;*/
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.step_desc_current {
  display: inline-block;
  width: 68%;
  height: 120px;
  vertical-align: top;
  padding: 0 0 0 15px;
}

.step_desc_current > .step_desc_title {
  font-size: 16px;
  color: #F23131;
  overflow: hidden;
  text-overflow:ellipsis;
  /*white-space: nowrap;*/
  margin-bottom: 5px;
}

.step_desc_current > .step_desc_info {
  font-size: 13px;
  color: #F23131;
  /*display: -webkit-box;*/
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.upload_image {
  background-color: #c79f84;
  color: #ffffff;
  font-size: 12px;
  width: 60px;
  height: 35px;
  text-align: center;
  line-height: 40px;
  margin-top: 8px;
  cursor:pointer; 
  display:inline-block;
    -moz-box-shadow: 0px 8px 15px rgba(255, 75, 89, 0.2);
  /* 老的 Firefox */
  box-shadow: 0px 8px 15px rgba(255, 75, 89, 0.2);
  position:absolute;
}

.step_time_to_end {
  display: inline-block;
  width: 30%;
  height: 120px;
  vertical-align: top;
  text-align: center;
  position: relative;
}

.step_time_to_end:after {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 99;
  top: 0;
  right: -12px;
  background-image: url('../../Images/O2O/to_end.png');
  background-size: 100%;
}

.step_time_to_end > .step_time_title {
  font-size: 13px;
  color: #999999;
}

.step_time_to_end > .step_time_desc {
  font-size: 12px;
  color: #999999;
  -webkit-transform:scale(0.91);
}

/* v5. 添加最后完成灰色状态 */
.step_desc_to_end {
  display: inline-block;
  width: 68%;
  height: 120px;
  vertical-align: top;
  padding: 0 0 0 15px;
}

.step_desc_to_end > .step_desc_title {
  font-size: 16px;
  color: #999999;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}

.step_desc_to_end > .step_desc_info {
  font-size: 13px;
  color: #999999;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
/* v5. 添加最后完成灰色状态 结束 */

.div_UserInfo{
        
    font-size:9px;
    position:absolute;
    right:10px;
    z-index:999;
}
 .o2o_header div
{
    display:inline-block;

}

.sr-only
{
    color:#fdfdfd;
    clip:unset;
    width:100%;
    height:40px;
    line-height:40px;
    left:0px;
    font-size:14px;
        font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
    font-weight:bold;


}
.progress{
    height:40px;
}


