<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>爱钱吧-支付平台</title>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/Style/Frame1/style.css" rel="stylesheet" />
    <link href="~/Content/Style/Frame1/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style/Frame1/loader-style.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
<body>
    <!-- SIDE MENU -->
    <div id="skin-select" class="LeftArea">
        <div id="logo">
            <h1>
                爱钱吧
                <span>支付平台</span>
            </h1>
        </div>


        <div class="dark">
            <form action="#">
                <span>
                    <input type="text" name="search" value="" class="search rounded id_search" placeholder="Search Menu..." autofocus="">
                </span>
            </form>
        </div>

        <div class="search-hover" style="display: none;">
            <form id="demo-2">
                <input type="search" placeholder="Search Menu..." class="id_search">
            </form>
        </div>

        <div class="skin-part">
            <div id="tree-wrap">
                <div class="side-bar">
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="widget-menu"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="用户管理">
                                <i class="icon-document-edit"></i>
                                <span>用户管理</span>

                            </a>
                            <ul>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="#" title="用户信息"><i class="icon icon-user"></i><span>用户信息</span></a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="订单管理">
                                <i class="icon-feed"></i>
                                <span>订单管理</span>

                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="Media">
                                <i class="icon-camera"></i>
                                <span>商铺管理</span>

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF SIDE MENU -->
    <!--Right Container-->
    <div class="RightArea">
        <!-- Top Bar Begin -->
        <div id="ulRightTopBar">
            <ul  class="UlHorizontal">
                <li>
                    <img class="img-profile" src="http://wx.qlogo.cn/mmopen/wiaLKhKTxZqNrdZZDewJMIvMqJEib79Z7wYAzqX5TB4adpyBs8IrSx2sh4tLXbyD4RiaPLorwhcebS8AO2JfdiaO9JBWHvMAJ2HU/0" />
                    <span>Hi User 你好！</span>
                </li>
                <li>
                    <a>
                        <span class="icon-gear"></span>&nbsp;&nbsp;Setting
                    </a>
                </li>
            </ul>
        </div>
        <!-- Top Bar End -->
        <!-- NavBarContainer Begin -->
        <div id="NavBarContainer">
            <ul id="NavBar" class="UlHorizontal">
                <li>
                    <span class="entypo-home"></span>
                </li>
                <li>
                    <i class="fa fa-lg fa-angle-right"></i>
                </li>
                <li>
                    <a href="#" title="Sample page 1">UI Element</a>
                </li>
                <li>
                    <i class="fa fa-lg fa-angle-right"></i>
                </li>
                <li>
                    <a href="#" title="Sample page 1">Element</a>
                </li>
                <li class="pull-right">
                    <div class="input-group input-widget">
                        <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
                    </div>
                </li>
            </ul>
        </div>
        <!--NavBarContainer End -->
        <div class="ContentArea">
            @RenderBody()
        </div>
    </div>


</body>
</html>