<ul class="topnav menu-left-nest">
    @if (ViewBag.UserRole == 100)
    {
        <li>
            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                <span class="widget-menu"></span>
                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

            </a>
        </li>
        <li>
            <a class="tooltip-tip ajax-load" href="#" title="系统管理">
                <i class="icon-feed"></i>
                <span>系统管理</span>
            </a>
            <ul>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/Main/AppList" title="应用APP"><i class="icon icon-user"></i><span>应用APP</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/Main/GlobalConfig" title="全局变量"><i class="icon icon-user"></i><span>全局变量</span></a>
                </li>
            </ul>
        </li>
        <li>
            <a class="tooltip-tip ajax-load" href="#" title="常用">
                <i class="icon-feed"></i>
                <span>常用</span>
            </a>
            <ul>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/Order/List" title="订单列表"><i class="icon icon-user"></i><span>订单列表</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/User/List" title="代理列表"><i class="icon icon-user"></i><span>代理列表</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/QR/ARList" title="代理授权码"><i class="icon icon-user"></i><span>代理授权码</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/QR/AuthList" title="商户授权码"><i class="icon icon-user"></i><span>商户授权码</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/Store/List?Channel=0" title="平台商户"><i class="icon icon-user"></i><span>平台商户</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/Store/List?Channel=1" title="加盟商户"><i class="icon icon-user"></i><span>加盟商户</span></a>
                </li>
                @*<li>
                        <a class="tooltip-tip2 ajax-load" href="/Transfer/DoTransfer" title="汇款管理"><i class="icon icon-user"></i><span>汇款管理</span></a>
                    </li>*@

            </ul>
        </li>
        <li>
            <a class="tooltip-tip ajax-load" href="#" title="O2O商城">
                <i class="icon-feed"></i>
                <span>O2O商城</span>
            </a>
            <ul> 
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/O2O/RuleList" title="规则列表"><i class="icon icon-user"></i><span>规则列表</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/O2O/MallList" title="商城列表"><i class="icon icon-user"></i><span>商城列表</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/O2O/PriceGroupList" title="价格组列表"><i class="icon icon-user"></i><span>价格组列表</span></a>
                </li>   
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/O2O/OrderList" title="订单列表"><i class="icon icon-user"></i><span>订单列表</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/O2O/ItemList" title="商品列表"><i class="icon icon-user"></i><span>商品列表</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/O2O/AddrList" title="地址列表"><i class="icon icon-user"></i><span>地址列表</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/User/ReChargeUserAccountBalance" title="账户余额"><i class="icon icon-user"></i><span>账户余额</span></a>
                </li>
            </ul>
        </li>

        <li>
            <a class="tooltip-tip ajax-load" href="#" title="数据分析">
                <i class="icon-feed"></i>
                <span>数据分析</span>
            </a>
            <ul>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/Report/AgentOverView" title="代理报表"><i class="icon icon-user"></i><span>代理报表</span></a>
                </li>
            
            </ul>
        </li>
        <li>
            <a class="tooltip-tip ajax-load" href="#" title="其他管理">
                <i class="icon-feed"></i>
                <span>其他管理</span>
            </a>
            <ul>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/Test/Tool_RPay" title="刷单"><i class="icon icon-user"></i><span>刷单</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/Transfer/List" title="汇款列表"><i class="icon icon-user"></i><span>汇款列表</span></a>
                </li>
             
            </ul>
        </li>  
    }
    @if (ViewBag.O2OUserRole == 10)
    {
        <li>
            <a class="tooltip-tip ajax-load" href="#" title="O2O商城">
                <i class="icon-feed"></i>
                <span>O2O商城</span>
            </a>
            <ul>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/O2O/OrderListForSettlement" title="订单列表"><i class="icon icon-user"></i><span>订单列表</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/O2O/ItemList" title="商品列表"><i class="icon icon-user"></i><span>商品列表</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/O2O/AddrList" title="地址列表"><i class="icon icon-user"></i><span>地址列表</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/O2O/TransactionForWarehouse" title="资金流水账"><i class="icon icon-user"></i><span>资金流水账</span></a>
                </li>
                <li>
                    <a class="tooltip-tip2 ajax-load" href="/User/ReChargeUserAccountBalance" title="账户余额"><i class="icon icon-user"></i><span>账户余额</span></a>
                </li>

            </ul>
        </li>
    }
   @*@if (ViewBag.UserRole > 1)
   {
    <li>
        <a class="tooltip-tip ajax-load" href="#" title="用户自助">
            <i class="icon-feed"></i>
            <span>用户自助</span>
        </a>
        <ul>
            <li>
                <a class="tooltip-tip2 ajax-load" href="/User/Profile" title="我的资料"><i class="icon icon-user"></i><span>我的资料</span></a>
            </li>
            <li>
                <a class="tooltip-tip2 ajax-load" href="/Order/MyList" title="我的订单"><i class="icon icon-user"></i><span>我的订单</span></a>
            </li>
            <li>
                <a class="tooltip-tip2 ajax-load" href="/Transfer/MyList" title="我的提款"><i class="icon icon-user"></i><span>我的提款</span></a>
            </li>
         
        </ul>
    </li>
   }*@
</ul>
