
@model IQBWX.Models.WX.WXUserInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Css/common.css" rel="stylesheet" />
    <script src="~/Content/Script/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
       

    </script>
</head>
<body>
    <div>
      
       
    </div>
</body>
</html>
