<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--<add key="ServiceName" value="SuperWebSocket"/>-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="APPID" value="2017092008828512" />
    <add key="IQBWX_SiteUrl" value="http://wx.iqianba.cn/" />
    <add key="Main_SiteUrl" value="http://pp.iqianba.cn/" />
    <add key="QR_ARMaster_FP" value="/Content/QR/Invite/" />
    <add key="QR_ARUser_FP" value="/Content/QR/ARUser/" />
    <add key="QR_F2F_FP" value="/Content/QR/AliPay_F2F/" />
    <add key="QR_AuthStore_FP" value="/Content/QR/AuthStore/" />
    <add key="logPath" value="C:\Web\Pay\IQBPayLog.txt" />
    <add key="TestModel" value="true" />
    <add key="DevelopVersion" value="1.2" />
    <add key="appVersion" value="1.0.3" />
    <!-- IOS 相关-->
    <add key="iosHostUrl" value="" />
    <!-- Redis 相关-->
    <add key="RedisHost" value="172.19.132.74:6379" />
    <!--<add key="Redis_Max_Read_Pool" value="10" />
    <add key="Redis_Max_Write_Pool" value="10" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="PPConnection" connectionString="Data Source=iZgbo90ri0je70Z\IQBSQLSERVER;Database=PayPlatform;  User ID=sa; Password=qwer@1234; " providerName="System.Data.SqlClient" />
    <add name="OOConnection" connectionString="Data Source=iZgbo90ri0je70Z\IQBSQLSERVER;Database=OOAPP; User ID=sa; Password=qwer@1234; " providerName="System.Data.SqlClient" />
   
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
