
@{
    ViewBag.Title = "地址列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenu1{
    <a href="/Order/List" title="地址列表"> 地址</a>

}
@section SubMenu2{
    列表
}
<link href="@Url.Scrpit("~/Content/Style/Web/O2O/O2OList.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/scripts/Web/O2O/AddrList.js")"></script>
<script src="@Url.Scrpit("~/scripts/Web/Common.js")"></script>

<style type="text/css">
    .ObjBlock{
    background-color:#cecbcb;
}
</style>

<h2>O2O地址列表</h2>
<div id="ListArea">
    <div id="ButtonList">
        <ul class="UlHorizontal" style="margin:30px;">
            <li>
                <button id="btnSearch" type="button" class="btn btn-warning" onclick="CreateNew(null);">新增地址</button>
            </li>
            <li>
                地址状态：
                <select id="cRecordStatus" onchange="SelectStatus();">
                    <option value="0" selected>启用</option>
                    <option value="1">禁用</option>
                    <option value="99">全部</option>
                </select>
            </li>
        </ul>
    </div>
    <div id="DataContainer">

      
    </div>
</div>
