
@{
    ViewBag.Title = "商城列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenu1{
    <a href="/Order/List" title="商城列表"> 商城</a>

}
@section SubMenu2{
    列表
}
<link href="@Url.Scrpit("~/Content/Style/Web/O2O/O2OList.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/scripts/Web/O2O/MallList.js")"></script>

<style type="text/css">

</style>

<h2>O2O商城列表</h2>
<div id="ListArea">
    <div id="ButtonList">
        <ul class="UlHorizontal" style="margin:30px;">

            <li>
                <button id="btnSearch" type="button" class="btn btn-warning" onclick="CreateNew(null);">新增商城</button>
            </li>
        </ul>
    </div>
    <div id="DataContainer">
    </div>
</div>
