
@{
    ViewBag.Title = "商户信息";
    Layout = "~/Views/Shared/_O2OLayout.cshtml";
}

<div id="Info">
    <ul class="list-group">
        <li>
            <span class="LeftSpan">收款账户：</span><span id="AliPayAccount"></span>
        </li>
        <li>
            <span class="LeftSpan">费率：</span><span id="FeeRate"></span>
        </li>
    </ul>
    <ul class="list-group">
        <li>
            <span class="LeftSpan">支出：</span><span id="O2OShipOutCome"></span>
        </li>
        <li>
            <span class="LeftSpan">收入：</span><span id="O2OShipInCome"></span>
        </li>
    </ul>
    <ul class="list-group">
        <li>
            <span class="LeftSpan">账户余额(不包含收入)：</span><span id="O2OShipBalance"></span>
        </li>
        <li>
            <span class="LeftSpan">在单金额：</span><span id="O2OOnOrderAmount"></span>
        </li>
    </ul>



</div>

