
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>收款二维码</title>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/Web/Common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if (IsWeixinOrAlipay() == "false")
            {
                var client = IsWeixinOrAlipay();
                if (client == "false") {
                    window.location.href = "http://m.yujiept.icoc.me/";
                    alert("请用微信或支付宝访问");

                    return false;
                }
            }
        });
    </script>
</head>
<body>
    <div style="margin-left:auto;margin-right:auto;margin-top:10px; text-align:center"> 
        @*<span style="font-size:30px; font-weight:bold; margin-bottom:10px;">收款二维码</span>*@
        <img src="@ViewBag.ImgSrc"  style="width:90%; height:90%;" />
    </div>
   
</body>
</html>
