
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pay</title>
</head>
<body>
    <div> 
        <input type="text" />
        <button type="button">付款</button>
    </div>
</body>
</html>
