
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserVerification</title>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="@Url.Scrpit("~/scripts/Web/UserVerification.js")"></script>
   
</head>
<body>
    <div> 
        身份验证
        <div onclick="UploadImage();">点击选择上传文件，限制每个20M以内</div>
    </div>
</body>
</html>
