
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>商城首页</title>
</head>
<body>
    <div> 
        商城首页
    </div>
</body>
</html>
