
@{
    ViewBag.Title = "ItemList";
    Layout = "~/Views/Shared/_O2OLayout.cshtml";
}
@section Title{
    商品列表
}
<link href="@Url.Scrpit("~/Content/Wap/O2O/ItemList.css")" rel="stylesheet" />

<script src="@Url.Scrpit("~/scripts/Wap/O2O/ItemList.js")"></script>

<div id="shop_list">
    <div class="price_list">
        <!-- <div class="price_item"> 1999~2999</div> -->
    </div>
    <div class="pdt_list">
        <div class="pdt_list_header">
            <div class="header-image header-left-image"></div>
            <span id="header-title">1999</span>
            <div class="header-image header-right-image"></div>
        </div>
        <div class="pdt_list_content">
            <!-- <div class="pdt_list_content_item">
              <img width="175" height="175" src="https://res.vmallres.com/pimages//product/6901443211388/800_800_1513571794593mp.jpg"></img>
              <div class="pdt-price"><span class="price_symbal">￥</span><span class="price">1999</span></div>
              <div class="pdt-label">HUAWEI MateBook X 13英寸轻薄笔记本电脑 HUAWEI MateBook X 13英寸轻薄笔记本电脑</div>
              <div class="pdt-tag">
                <div class="pdt-tag-label">直降</div>
                <div class="pdt-tag-label">包邮</div>
              </div>
            </div> -->
        </div>
    </div>
</div>
<!-- Modal -->
<div class="o2o_modal">
    <div class="o2o_modal_content">
        <div class="o2o_modal_content_body">
            <div class="o2o_modal_content_header">您将购买以下价格产品</div>
            <div class="o2o_modal_content_container">
                <!-- <div class="pdt_list_modal_item">
                  <img width="175" height="175" src="https://res.vmallres.com/pimages//product/6901443211388/800_800_1513571794593mp.jpg"></img>
                  <div class="pdt-price"><span class="price_symbal">￥</span><span class="price">1999</span></div>
                  <div class="pdt-label">HUAWEI MateBook X 13英寸轻薄笔记本电脑 HUAWEI MateBook X 13英寸轻薄笔记本电脑</div>
                  <div class="pdt-tag">
                    <div class="pdt-tag-label">直降</div>
                    <div class="pdt-tag-label">包邮</div>
                  </div>
                </div> -->
            </div>
            <div class="o2o_modal_content_btn" onclick="confirm();">确认支付</div>
        </div>
        <div class="o2o_modal_close" onclick="closeModal();">
            <div class="o2o_modal_close_body"></div>
        </div>
    </div>
</div>

