
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_O2OLayout.cshtml";
}
<link href="@Url.Scrpit("~/Content/Wap/O2O/OrderDetail.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/scripts/Web/Common.js")"></script>
<script src="@Url.Scrpit("~/scripts/Wap/O2O/OrderDetail.js")"></script>


<header class="o2o_header">
    @*<div class="header_back" onclick="historyBack();"></div>*@
    <div class="header_title">订单详情</div>
</header>
<div class="o2o_content">
    <div id="order_list">
        <!-- 订单号 -->
        <div class="order_number">
            <!-- 左侧 -->
            <div class="order_number_logo">
            </div>
            <!-- 右侧 -->
            <div class="order_number_content">
                金额：<span id="number">1004-909</span> 
            </div>  
        </div>
      
        <!-- 时间轴一步 已经完成的一步 -->
        <div class="order_item">
            <!-- 左侧 -->
            <div class="step_time_done">
                <div class="step_time_title">2月9日</div>
                <div class="step_time_desc">10:30</div>
            </div>
            <!-- 右侧 -->
            <div class="step_desc_done">
                <div class="step_desc_title">已支付订单截图上传 已支付订单截图上传</div>
                <div class="step_desc_info">订单已付款，截图已上传，等待审核。订单已付款，截图已上传，等待审核。</div>
            </div>
        </div>

        <!-- 时间轴一步 当前的一步-->
        <div class="order_item">
            <!-- 左侧 -->
            <div class="step_time_current">
                <div class="step_time_title">2月9日</div>
                <div class="step_time_desc">10:30</div>
            </div>
            <!-- 右侧 -->
            <div class="step_desc_current">
                <div class="step_desc_title">支付打款</div>
                <div class="step_desc_info">
                    <a href="">跳转到某个页面（此为超链接）</a>
                </div>
            </div>
        </div>

        <!-- 时间轴一步 未完成-->
        <div class="order_item">
            <!-- 左侧 -->
            <div class="step_time">
                <div class="step_time_title">2月9日</div>
                <div class="step_time_desc">10:30</div>
            </div>
            <!-- 右侧 -->
            <div class="step_desc">
                <div class="step_desc_title">已支付订单截图上传 已支付订单截图上传</div>
                <div class="step_desc_info">订单已付款，截图已上传，等待审核。订单已付款，截图已上传，等待审核。</div>
            </div>
        </div>

        <!-- 时间轴一步 最后完成的一步-->
        <div class="order_item">
            <!-- 左侧 -->
            <div class="step_time_end">
                <div class="step_time_title">2月5日</div>
                <div class="step_time_desc">10:30</div>
            </div>
            <!-- 右侧 -->
            <div class="step_desc_end">
                <div class="step_desc_title">订单交易完成</div>
                <div class="step_desc_info">
                    订单已完成。感谢您使用O2O商品平台，期待再次为您服务！
                </div>
                <div id="upload_image" onclick="fileSelect();"> 点击上传截图</div>
                <input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected(event);" style="display:none;">
            </div>
        </div>
    </div>
</div>

