
@{
    ViewBag.Title = "UploadOrder";
    Layout = "~/Views/Shared/_O2OLayout.cshtml";
}
<link href="@Url.Scrpit("~/Content/Wap/O2O/UploadOrder.css")" rel="stylesheet" />
<script src="~/scripts/Component/Upload/jquery.ui.widget.js"></script>
@*<script src="~/scripts/Component/Upload/jquery.iframe-transport.js"></script>*@
<script src="~/scripts/Component/Upload/jquery.fileupload.js"></script>
@*<script src="~/scripts/Component/Upload/jquery.fileupload-process.js"></script>
<script src="~/scripts/Component/Upload/jquery.fileupload-validate.js"></script>*@
<script src="@Url.Scrpit("~/scripts/Web/Common.js")"></script>
<script src="@Url.Scrpit("~/scripts/Wap/O2O/UploadOrder.js")"></script>


<header class="o2o_header">
    <div class="header_title">上传图片和订单编号</div>
</header>
<div class="o2o_content">
    <div id="upload_list">
        <div class="upload_order">
            <div class="upload_order_title">订单编号</div>
            <div class="upload_order_input">
                <input id="order_num" type="text" placeholder="请输入订单编号" class="form-control order_input" />
            </div>
        </div>
        <div class="upload_order">
            <div class="upload_order_title">收款账户<span style="color:firebrick;">*</span></div>
            <div class="upload_order_input">
                <input id="ReceiveAccount" type="text" placeholder="请输入收款账户" class="form-control order_input" />
            </div>
        </div>
        <div class="upload_image">
            <div class="upload_order_image_title">上传订单相关信息</div>
            <div class="upload_order_image_list">
                <!-- 已经上传图片 -->
                <div id="imgContainer1" class="upload_order_image_done">
                    <div class="upload_order_delete_btn" onclick="deleteImage();"></div>
                    <img id="imgUpload1" src=""></img>
                </div>
                <!-- 正在上传图片 -->
                @*<div class="upload_order_image_doing">
                    <img src="~/Content/Images/O2O/temp.png"></img>
                    <div class="upload_order_cover">
                        <div class="upload_progress">
                            <div class="upload_progress_percent"></div>
                        </div>
                    </div>
                </div>*@
                <!-- 上传按钮 -->
                <div class="submit_btn" id="btnUpload1" onclick="fileSelect();"></div>
                <input type="file" name="fileToUpload" id="upload_OrderInfo" onchange="fileSelected(event);" style="display:none;">
            </div>
        </div>
        <!-- 按钮 -->
        <div class="upload_btn_group">
            <div class="upload_btn upload_submit" onclick="submitUpload();">提交</div>
            <div class="upload_btn upload_back" onclick="BackToOrderDetail();">返回订单查询页</div>
        </div>
    </div>
</div>

