
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Batch</title>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        //收款码
        function DoQRBatch()
        {
            var url = "/Test/Batch_QR";
            $.ajax({
                type: 'post',
            
                url: url,
                success: function (data) {
                    if (data.IsSuccess == true) {
                        alert("OK");
                    }
                    else {
                        alert("Error:" + data.ErrorMsg);
                    }
                  

                },
                error: function (xhr, type) {
                    alert('Ajax error!');
                  

                }
            });
        }

        //邀请码
        function DoInviteQRBatch() {
            var url = "/Test/Batch_InviteQR";
            $.ajax({
                type: 'post',

                url: url,
                success: function (data) {
                    if (data.IsSuccess == true) {
                        alert("OK");
                    }
                    else {
                        alert("Error:" + data.ErrorMsg);
                    }


                },
                error: function (xhr, type) {
                    alert('Ajax error!');


                }
            });
        }
        //更新头像
        function UpdateHeaderLogo() {
            var url = "/Test/UpdateHeaderLogo";
            $.ajax({
                type: 'post',
                data:"openId=o3nwE0jrONff65oS-_W96ErKcaa0",
                url: url,
                success: function (data) {
                    if (data.IsSuccess == true) {
                        alert("OK");
                    }
                    else {
                        alert("Error:" + data.ErrorMsg);
                    }


                },
                error: function (xhr, type) {
                    alert('Ajax error!');


                }
            });
        }
    </script>
</head>
<body>
    <div> 
        <input type="button" value="更新头像" onclick="UpdateHeaderLogo()" />
        <input type="button" value="收款码背景图更新" onclick="DoQRBatch()" />
        <input type="button" value="邀请码" onclick="DoInviteQRBatch()" />
    </div>
</body>
</html>
