
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>

    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        function TestQRHuge()
        {
            window.location.href = "/Test/QRHuge"
        }
    </script>
</head>
<body>
    <div> 
        <input type="button" value="测试QRHuge" onclick="TestQRHuge()" />
        <a href="/WAP/PayHuge?QRHugeId=18">去大额码看看</a>
    </div>
</body>
</html>
