.FontAmount{
     font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
     font-weight:bold;
     color:#F19659;
     font-size:18px;
}
.IQBFont1{
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
}
