body {
font: 12px/1.5 'MicroSoft YaHei';
color: #333;
width:100%
}

body, body dd, body dl, body dt, body form {
margin: 0;
padding:0;
border:0;
}

img {
border: 0;
}

a {
text-decoration:underline;
color: #428bca;

}
a.td
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:10px;
}

a.title {
color: #333;
font-size: 18px;
}

a.red {
color: #F60;
}

a.gray {
color: #999;
}

a:hover {
color: #ee5525;
}

html body .red {
color: #F60 !important;
}

html body .green {
color: #54A200 !important;
}

html body .blue {
color: #598EB7 !important;
}

html body .gray {
color: #999 !important;
}

html body a.btn {
display: inline-block;
text-align: center;

border: 1px solid #F60;
line-height: 30px;
font-size: 12px;
border-radius: 2px;
}

html body a.btn.white {
color: #F60 !important;
background: #fff !important;
}

html body a.btn.white:hover {
border-color: #db5700;
}

html body a.btn.red {
color: #fff !important;
background: #F60 !important;
border-color: #db5700;
}

html body a.btn.red:hover {
border-color: #F60;
}

html body .border {
border: 1px solid #E0E0E0;
}



/* IQB Pay Frame Begin */
.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid ;
    border-radius: 4px;
    box-shadow: none !important;
    color: #50482f !important;
    font-size: 13px !important;
    height: 31px !important;
}
.form-Area{
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid ;
    border-radius: 4px;
    box-shadow: none !important;
    color: #50482f !important;
    font-size: 13px !important;
}

.UlHorizontal
{
    display: block;
    overflow: hidden;
    white-space:nowrap; /*处理块元素中的空白符和换行*/        
}
.UlHorizontal li
{
    list-style: none;
    display: inline-block;/*使li对象显示为一行*/
    margin-left: 15px;

}


#skin-select {
  
    position: absolute;
    top: 20px;
    width: 250px;
  
}

.RightArea
{
    position: absolute;
    left:260px;
    top:5px;
    height:100%;
    width:100%;
}

.bevel.tlbr {
    background: #f5f5f5;
    /*background: -moz-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -moz-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -moz-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -moz-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);
    background: -o-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -o-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -o-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -o-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);
    background: -webkit-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -webkit-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -webkit-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -webkit-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);*/
}
.bevel.all, .bevel.trbl, .bevel.tlbr, .bevel.tr {
    background-position: bottom left, bottom right, top right, top left;
    -moz-background-size: 52% 52%;
    -webkit-background-size: 52% 52%;
    background-size: 52% 52%;
    background-repeat: no-repeat;
}

/* ulRightTopBar */
#ulRightTopBar
{
    margin:0;
    width:85%;
}
#ulRightTopBar ul
{
    position:relative;
    float: right;
    right: 80px;
}

#ulRightTopBar ul li
{
    color: #F5F5F5!important;
    font-size: 13px!important;
}
#ulRightTopBar ul li a
{
    color:inherit;
}

#NavBarContainer
{
    height:50px;
    clear:both;
    margin-bottom:10px;
    width:80%;
    
}

#NavBarContainer ul
{
    background-color: #F0F0F0;
    margin: 0;
    padding: 15px 0px 5px 20px;
    border-bottom:1px solid #DDDDDD;
    border-radius:10px;
   
}

#NavBarContainer ul li {
    list-style-type:none;
    float:left;
    padding-left:10px;
}
#NavBarContainer ul a {

    height:30px;
    display:block;
    background-image:url('');
    background-repeat:no-repeat;
    background-position:right;
    padding-right: 0;
    text-decoration: none;
    color:#9EA7B3;
}

.ContentArea
{
    border-radius:10px;
    background-color:#F5F5F5;
    width:84%;
   
    display: block !important;
    padding:10px;
}
ul.topnav ul {
    margin: 0;
    padding: 0;
}

ul.topnav ul li {
    margin: 0;
    padding: 0;
    clear: both;
    list-style: none outside none;
}

.img-profile {
  border-radius: 50%;
  border:2px solid white;
  width:50px;
  height:50px;
  margin-right:10px;
}

.TableRowSelected{
      background-color: #FAEFE1;
}

.noft-red-number {
    background: none repeat scroll 0 0 #FF6B6B;
    border-radius: 50%;
    color: #FFFFFF;
    float: right;
    font-size: 10px;
    height: 20px;
    left: 0;
    padding: 0;
    position: relative;
    text-align: center;
    top: 0;
    width: 20px;
}
.noft-red {
    background: none repeat scroll 0 0 #EA3F3F;
    border-radius: 26px;
    color: #FFFFFF;
    font-size: 10px;
    left: 25px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 20px;
}

.noft-green-number {
    background: none repeat scroll 0 0 #4AC4BC;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 10px;
    height: 20px;
    left: 0;
    padding: 0;
    position: relative;
    text-align: center;
    top: 0;
    width: 20px;
}

/*Table Row Begin */
.TableOverflowHidden
{
    table-layout: fixed;
}

.TableOverflowHidden td
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*Table Row End*/

.NeedFill
{

}
/*悬浮框*/
.DivHovering{
    background-color:antiquewhite;
    position:absolute;
    display:none;  
    height:150px;
    top:5px;
    left:10px;
    white-space:normal;
    padding:8px;
}
/* IQB Pay Frame End */




