.o2o_index_btn {
  width: 80%;
  height: 45px;
  margin: 0 auto;
  line-height: 45px;
  cursor:pointer; 
}

#o2o_btn__order {
  background-color: #ff4b59;
  color: #ffffff;
  -moz-box-shadow: 0px 8px 15px rgba(255, 75, 89, 0.2);
  /* 老的 Firefox */
  box-shadow: 0px 8px 15px rgba(255, 75, 89, 0.2);
  

}
body {
  overflow: hidden;
}

.header_back {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('../../images/O2O/back.png');
  position: absolute;
  display: inline-block;
  z-index: 888;
  margin-top: 15px;
  left: 10px;
}

.header_title {
  text-align: center;
}

.o2o_header {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #f1f1f1;
  font-size: 21px;
}

.o2o_content {
  width: 100%;
  position: absolute;
  top: 50px;
  height: 400px;
  padding: 0 15px;
}

#get_phone_check {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #dddddd;
  margin-top: 25px;
}

.get_phone_check_input {
  width: 50%;
  display: inline-block !important;
  vertical-align: middle;
  margin-top: 7px;
  border: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

::-webkit-input-placeholder {
  color: #dddddd !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #dddddd !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #dddddd !important;
}

:-ms-input-placeholder {
  color: #dddddd !important;
}

input:focus {
  outline: none !important;
  border-color: #cfdc00 !important;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4) !important;
  border-radius: 5px !important;
}

.input_clear {
  width: 22px;
  height: 22px;
  margin-top: 4px;
  display: none;
  vertical-align: middle;
  background-image: url('../../images/O2O/clear.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.get_phone_btn {
  display: inline-block !important;
  height: 40px;
  border: 1px solid #000000;
  padding: 5px;
  margin-top: 4px;
  width: 90px;
  text-align: center;
  position: absolute;
  right: 15px;
  font-size: 13px;
  line-height: 28px;
  cursor:pointer;
}

.get_code_btn {
  display: inline-block !important;
  height: 40px;
  border: 1px solid #000000;
  padding: 5px;
  margin-top: 4px;
  width: 90px;
  text-align: center;
  position: absolute;
  right: 15px;
  font-size: 13px;
  line-height: 28px;
  cursor:pointer;
}

#verify_phone_check {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #dddddd;
  margin-top: 25px;
}

#zhifubao_no {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #dddddd;
  margin-top: 25px;
}

#zhifubao_num {
  width: 100%;
}

.check_btn {
  width: 92%;
  height: 50px;
  position: absolute;
  bottom: 55px;
}

.begin_order_disabled {
  width: 80%;
  height: 100%;
  background-color: #DDDDDD;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  position: relative;
  margin: auto;
}

.begin_order_abled {
  width: 80%;
  height: 100%;
  background-color: #ff4b59;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  position: relative;
  margin: auto;
}


