
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
    <link href="@Url.Scrpit("~/Content/Css/MainCss.css")" rel="stylesheet" />
    <script src="@Url.Scrpit("~/Content/Script/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/Detail.js")"></script>
    <title>InfoDetail</title>
</head>
<body>
    <div class="show_title mg2">
        <div class="show1 mg2" id="Title"><img align="absmiddle" src="~/Content/images/show_03.jpg" /></div>
        <div class="con2sx mg2 hui xi19">
            <div class="con2sxl f" id="readCount"><img align="absmiddle" src="~/Content/images/daikuankouzi_06.jpg" /></div>
            <div class="con2sxr r" id="publishDate"></div>
        </div>
    </div>
    <div class="show_bar mgz"><img align="absmiddle" src="~/Content/images/show_06.jpg" width="640" /></div>
    <div class="nrxqcon2 mg2 xi21" >
        <table class="tableBreakWord" border="0" cellpadding="0" cellspacing="0">
            <tr id="DetailData">
              
            </tr>
        </table>
    </div>
</body>
</html>
