
@{
    ViewBag.Title = "DoTransfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenu1{
    单据管理
}
@section SubMenu2{
    打款
}
<link href="~/Content/Style/Web/ULList.css" rel="stylesheet" />
<script src="~/scripts/Web/DoTransfer.js"></script>

<div id="ListArea">
    <ul class="UlHorizontal" style="margin-top:20px;">
        <li>
            <div class="form-group">
                <label class="col-sm-3 control-label">代理用户：</label>
                <div class="col-sm-8">
                    <input id="AgentName" type="text" class="form-control">
                </div>
                <button type="button" class="btn btn-primary" onclick="btnSearch();">查询</button>
            </div>
        </li>
    </ul>
    <div id="AgentArea">
        <ul Id="AgentList">           
          <li class="liHeader">
              <div class="liHeaderDivLeft">用户名</div>
              <div class="liHeaderDivLeft">提款账户</div>
              <div class="liHeaderDivLeft">订单余额</div>
              <div class="liHeaderDivLeft">佣金余额</div>
              <div class="liHeaderDivRight">操作</div>
          </li>
            @*<li class="liBody">
                <div>ID#Jacky</div>
                <div><a href="#">&yen 3929128</a> </div>
            </li>*@         
        </ul>
    </div>
    <div class="divNextButton"><button type="button" class="btn btn-success" style="width:200px; height:40px;" onclick="Next();">下一页</button></div>
</div>
