
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>转账记录</title>
    <link href="~/Content/Style/Web/List.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <table id="TableHeader" class="table table-hover table-bordered TableOverflowHidden">
        </table>
</div>
</body>
</html>
