
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
    <title>Test</title>
    
    <script type="text/javascript">
        function ToWXLogin(url)
        {
            window.location = url;

        }
    </script>
</head>
<body>

   <div>
       <input type="button" onclick="ToWXLogin('@Url.Action("IndexWxLogin","Home",new { @logintype = "pp" })');" value="微信登陆" />
     
   </div>
   

</body>
</html>
