body
{
   
}
.form-control {
  display:inline-block;
  height: 34px;
  width:200px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #000000;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control_textarea{
  display:inline-block;
  vertical-align:text-top;
  height: 140px !important;
  width:680px !important;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #000000;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.fieldControl_checkBox {
  display:inline-block;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  vertical-align:bottom;
  width:26px;
  height:26px;
  margin-left:10px!important;
}

.UlHorizontal li span{
    display:inline-block;
    width:80px;
}

.Hr_Tr{ width:92%; border-top:1px solid #ccc;}
.FontAmount{
     font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
     font-weight:bold;
}
.Color_AmountIn{
    color:#F19659;
}
.CheckBox_Control{
    width: 22px;
    height: 22px;
    border:1px solid #ccc;
    background: #f00;border-color: #f00;
    vertical-align:text-bottom;

}
