
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
    <title>Tmall</title>
</head>

<frameset cols="50%,50%">
    <frame src="http://wx.iqianba.cn/pp/pay2?id=1519" />
    <frame src="http://www.baidu.com" />

</frameset>
</html>
