<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nLog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>


  <connectionStrings>
    <add name="OOConnection" connectionString="Data Source=iZv7b7632udn6rZ;Database=OOAPP;User ID=sa; Password=qwer@1234; " providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="APPID" value="2017092008828512" />
    <add key="IQBWX_SiteUrl" value="http://wx.iqianba.cn/" />
    <add key="Main_SiteUrl" value="http://pp.iqianba.cn/" />
    <add key="QR_ARMaster_FP" value="/Content/QR/ARMaster/" />
    <add key="QR_ARUser_FP" value="/Content/QR/ARUser/" />
    <add key="QR_F2F_FP" value="/Content/QR/AliPay_F2F/" />
    <add key="QR_AuthStore_FP" value="/Content/QR/AuthStore/" />
    <add key="logPath" value="C:\Web\Pay\IQBPayLog.txt" />
    <add key="TestModel" value="true" />
    <add key="DevelopVersion" value="1.2" />
    <add key="appVersion" value="1.0.3" />
  </appSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>