<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="PPConnection" providerName="MySql.Data.MySqlClient" connectionString="server=106.14.149.112;port=3306;database=PayPlatform;uid=root;password=pass@word1;Character Set=utf8;convert zero datetime=True" />
    <!--<add name="MainDBConnection" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=QMMD;uid=root;password=pass@word1" />-->
    <!--<add name="MainDBConnection" connectionString="Data Source=121.43.165.5;Database=QMMD;  User ID=sa; Password=pass@word1; " providerName="System.Data.SqlClient" />-->
    <!--<add name="MainDBConnection" connectionString="Data Source=DESKTOP-L9D284D\SQL2016;Database=QMMD;  User ID=sa; Password=pass@word1; " providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WXAccount" value="gh_3364510c3e68" />
    <add key="QRBKPath" value="~/Content/QRImg/BK/QRBK.jpg" />
    <add key="CertPath" value="C:\IQBWeb\apiclient_cert.p12" />
    <add key="logPath" value="C:\My\Project\IQBWX\Log.txt" />
    <add key="WXAppId" value="wx041fa0b86badb080" />
    <add key="WXSecret" value="6e0c4d24a13dc3faaf6460963a18a8d8" />
  </appSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>