body{
    font-size:14px !important;
    margin:0;
    padding:0;
}

.Summery {
    display: flex;
    width: 100vw;
    padding: 15px;
}
.Summery div {
    border-bottom: solid 1px #808080;
}

.grzxcon1rs {
    padding-top: unset !important;
}

.btn {
    width: auto;
    height: auto;
    font-size: 12px !important;
}

.lineRow {
    display: flex;
    height: 30px;
    line-height: 30px;
    width: 100%;
  
    padding-left: 10px;
    padding-right: 10px;
}

.AmtType {
    width: 30%;
}

.AmtDes {
    width: 48%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.AmtValue {
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 18px;
}

.AmtAdd {
    color: #F19659;
}

#GetMoneyArea {
    display: none;
    height: 50px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    justify-content: space-between;
}

    #GetMoneyArea div {
        border-bottom: none;
    }

#GetMoney_Amt {
    width: 120px;
    font-size: 12px;
}
.form-control {
    display: inline-block !important;
    width: auto;
}

.btnList {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.btnList div {
    border-bottom: none;
}

.grzxcon1 {
    height: 180px;
}

#PhoneArea {
    display: none;
}

#Content {
}

.HeaderBK{
    height: 163px;
    background: #6691f6;
    display:flex;
    align-items:center;
}
.ImgContainer{
    width:40%;
    text-align:center;
      
}
.ImgContainer img{
    border-radius: 50%;
}
.HeaderInfo{
    color:white;
    font-family:"微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    width:60%;
    padding-right:8px;
}
    .AgentName{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.AgentDes{
    display:flex;
}

.PageTitle{
    background: #4a78e6;
    color:white;
    height:35px;
    line-height:35px;
    text-align:center;
    font-size:20px;
}
