/*公用定义*/
@charset "utf-8";
*{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}/*取消链接点击的时候变蓝*/
*:focus{outline:none;}
/*input,  ,textarea{ line-height:normal;-webkit-appearance:none;}*/
input,select,textarea{FONT-FAMILY:'Microsoft YaHei'; font-size:20px;}
body {margin:0px;font-size:24px;background: #f2f2f2; color: #2b2b2b;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;FONT-FAMILY:'Microsoft YaHei';}
a {	text-decoration: none;	color: #2b2b2b;}
a:hover {text-decoration: none;color: #f03232;}
ul,li,tr,td,dl,dt,dd{list-style-type:none;margin:0px;padding:0px;}
li{ overflow:hidden;}
a img{text-decoration: none;margin: 0px;padding: 0px;border:none;}
.f{ float:left; overflow:hidden;}
.r{ float:right; overflow:hidden;}
.bai,.bai a{ color:#FFFFFF;}
.hong,.hong a{ color:#f02e24;}
.huang,.huang a{ color:#ff981e;}
.lan,.lan a{ color:#5783eb;}
.lv,.lv a{ color:#2293d1;}
.hui,.hui a{color:#909090;}
.mgz{ margin-left:auto; margin-right:auto; overflow:hidden;}
.mg{ margin-left:auto; margin-right:auto; overflow:hidden;}
.mg2{ margin-left:auto; margin-right:auto; overflow:hidden;}
.cen{ text-align:center;}

.xi12{ font-size:12px;}
.xi13{ font-size:13px;}
.xi14{ font-size:14px;}
.xi15{ font-size:15px;}
.xi16{ font-size:16px;}
.xi17{ font-size:17px;}
.xi18{ font-size:18px;}
.xi19{ font-size:19px;}
.xi20{ font-size:20px;}
.xi21{ font-size:21px;}
.xi22{ font-size:22px;}
.xi23{ font-size:23px;}
.xi24{ font-size:24px;}
.xi25{ font-size:25px;}
.xi26{ font-size:26px;}
.xi27{ font-size:27px;}
.xi28{ font-size:28px;}
.xi29{ font-size:29px;}
.xi30{ font-size:30px;}
.xi31{ font-size:31px;}
.xi32{ font-size:32px;}
.xi33{ font-size:33px;}
.xi34{ font-size:34px;}
.xi35{ font-size:35px;}
.xi36{ font-size:36px;}
.xi37{ font-size:37px;}
.xi38{ font-size:38px;}
.xi39{ font-size:39px;}
.xi40{ font-size:40px;}
.xi44{ font-size:44px;}
.xi46{ font-size:46px;}
.xi50{ font-size:50px;}
.xi52{ font-size:52px;}
.xi59{ font-size:59px;}
.xi60{ font-size:60px;}
.xi71{ font-size:71px;}
.cu{font-weight:bold;}
.xi{font-weight:lighter;}

.tm:hover{opacity:0.85; filter:alpha(opacity=85);}
.cur{ cursor:pointer;}
/*贷款口子*/
.con1{ height:70px; line-height:70px; background:#f2f2f2; text-indent:27px;}
.con2s ul li{ height:100px; border-bottom:1px solid #ebebeb; width:574px; padding:0 33px; background:#fff;}
.con2ssl{ width:18px; height:18px; border:1px solid #f02e24; margin-right:13px; line-height:18px; margin-top:24px;}
.con2ssr{ height:47px; line-height:47px; margin-top:11px; width:540px;}
.con2sx{ height:30px; line-height:30px;}
/*个人中心*/
.grzxcon1{ height:163px; padding-top:27px; background:#6691f6;}
.grzxcon1l{ margin-left:38px; width:130px; height:130px; border-radius:50%; margin-right:39px; border:4px solid #fff;}
.grzxcon1l img{ border-radius:50%;}
.grzxcon1rs{ height:42px; line-height:42px; padding-top:24px;}
.grzxcon1rx{ height:50px; line-height:50px;}
.grzxcon2{ background:#4a78e6;}
.grzxcon2 ul li{ float:left; height:87px; width:33%; border-right:1px solid #3c6ce0; overflow-y:hidden;}
.grzxcon3{ background:#fff;}
.grzxcon3 ul li{ float:left; width:319px; border-right:1px solid #f7f7f7; padding-top:30px; height:147px; line-height:50px; border-bottom:1px solid #f7f7f7;}
.footer{ height:97px;}
.footerz{ position:fixed; overflow:hidden; height:90px; border-top:1px solid #eeeeee; left:50%; bottom:0; margin-left:-320px; background:#fff; z-index:999999; padding-top:7px;}
.footerz ul li{ float:left; width:25%; line-height:34px;}
.footerz ul li a{ display:block; padding-top:48px;}
.bg1 a{ background:url(../images/grzx_19.png) center 0px no-repeat; color:#4f4e4e;}
.bg1 a:hover,.bg1hover a,.bg1hover a:hover{ background:url(../images/grzx_191.png) center 0 no-repeat; color:#f03232;}
.bg2 a{ background:url(../images/grzx_21.png) center 0px no-repeat; color:#4f4e4e;}
.bg2 a:hover,.bg2hover a,.bg2hover a:hover{ background:url(../images/grzx_212.png) center 0 no-repeat; color:#f03232;}
.bg3 a{ background:url(../images/grzx_23.png) center 0px no-repeat; color:#4f4e4e;}
.bg3 a:hover,.bg3hover a,.bg3hover a:hover{ background:url(../images/grzx_231.png) center 0 no-repeat; color:#f03232;}
.bg4 a{ background:url(../images/grzx_251.png) center 0px no-repeat; color:#4f4e4e;}
.bg4 a:hover,.bg4hover a,.bg4hover a:hover{ background:url(../images/grzx_25.png) center 0 no-repeat; color:#f03232;}
/*个人资料*/
.grzlcon1 ul li{ padding-left:28px; border-bottom:1px solid #ededed; background:#ffffff; height:90px;}
.grzlcon1l{ width:140px; text-align:left;height:55px; line-height:55px; margin-top:18px; margin-right:19px; border-right:1px solid #ededed;}
.grzlcon1r{ height:90px; line-height:90px;}
.bd1_1{ width:438px; height:92px; border:none; text-indent:5px; padding:0; margin:0 12px 0 0;
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
background:url(../images/gerenziliao_03.jpg) no-repeat scroll right center transparent;}
/*联系我们*/
.lxwmcon1{ padding:28px 0 0 0; margin-bottom:10px;}
.lxwmcon2{ line-height:69px; height:430px;}
.lxwmcon3{ height:56px; line-height:56px; bottom:0; left:50%; margin-left:-320px; z-index:999999; position:fixed; background:#f2f2f2;}
.lxwmcon4{ height:56px;}
/*内容详情*/
.nrxqcon1{ height:197px; background:#fff; width:574px; padding:0 33px; }
.nrxqcon1r{ height:96px; line-height:48px; width:540px; padding:12px 0 20px 0;}
.nrxqcon2{ width:625px; padding:20px 0px 18px 0px; background:#fff; max-height:9999999px; line-height:36px;}
.nrxqcon3{ height:52px; line-height:52px; background:#fff;}
/*贷款超市*/
.dkcs{ background:#fff; margin-bottom:20px;}
.dkcss{ width:642px; margin-right:-2px;}
.grzxcon2 span{ margin-left:8px;}
.dkcs ul li{ float:left; height:150px; padding:28px 0 0 0; width:212px; border-right:2px solid #f2f2f2; border-bottom:2px solid #f2f2f2; line-height:62px;}
/*佣金明细*/
.yjmx ul li{ width:580px; height:114px; border-bottom:1px solid #ebebeb; padding:0 30px; background:#fff;}
.yjmxl{ line-height:44px; height:88px; padding:12px 0 0 0;}
.yjmxr{ height:114px; line-height:114px;}
.jzgdzz{ height:52px; line-height:52px; position:fixed; bottom:0; left:50%; margin-left:-320px; z-index:999999;}
.jzgdz{ height:52px;}
/*余额*/
.yue{ margin-top:88px;}
.yuec{ height:60px; line-height:60px;}
.yuex{ height:83px; line-height:83px;}
.yuecon1{ height:65px; background:#668ff2; line-height:65px; border-radius:5px;}
.tc{ width:486px; height:324px; background:#ffffff; position:fixed; left:50%; margin-left:-243px; top:50%; margin-top:-162px;border-radius:5px; z-index:9999991; display:none;}
.mengban{ display:none; background:rgba(0,0,0,0.5); height:100%; position:fixed; z-index:9998; left:0; top:0; width:100%; z-index:9999990;}
.tcss{ margin-right:26px; height:49px; line-height:49px;}
.tcc{ height:61px; line-height:61px;}
.tcx{ height:111px; line-height:52px;}
.tcn{ width:337px; height:65px; background:#668ff2; line-height:65px; border-radius:5px;}
/*升级会员*/
.sjhycon1{ height:60px; line-height:60px; background:#fff; text-indent:28px; border-bottom:2px solid #f7f7f7;}
.sjhycon2{ margin-bottom:20px; background:#fff;}
.sjhycon2 ul li{ height:158px; background:#fff; width:50%; float:left;}
.sjhyconss{ height:60px; line-height:60px;}
.sjhyconsx{ height:46px; line-height:46px;}
.sjhycon3{ background:#fff; border-bottom:2px solid #f7f7f7; }
.sjhycon3l{ height:58px;line-height:58px;}
.sjhycon3r{ margin-right:42px;}
.sjhycon3rl{ width:109px; height:42px; line-height:42px; background:#f03232; margin-top:8px; border-radius:5px; margin-right:13px;}
.sjhycon3rr{ height:58px; line-height:58px;}
.sjhycon4{ background:#fff;}
.tab1{border-collapse:collapse;}/*去除双倍边框*/
.tab1 tr{ line-height:50px;}
.sjhycon5{ width:574px; padding:0 33px;}
.sjhycon5{ height:67px; line-height:67px;}
/*我的会员*/
/*选项卡1*/
#lib_Tab1{width:100%;margin:0px;padding:0px;margin-bottom:0px;}
/*菜单class*/
.lib_tabborder{border:0;}
.lib_Menubox {height:122px;position:relative;}
.lib_Menubox ul{ height:122px;text-align:center;margin:0px;padding:0px;list-style:none; position:absolute; top:0px; left:0; background:#fff; width:100%;}
.lib_Menubox li{float:left;display:block;cursor:pointer;width:25%;height:122px;line-height:61px;}
.lib_Menubox li.hover{ color:#f03232;}
.wdhycon1{ margin-bottom:20px;}
.lib_Contentbox{clear:both;margin-top:0px; border-top:none;}
.wdhycon1s{ margin-top:14px; width:574px; padding:0 33px; background:#fff; height:59px; line-height:59px; border-bottom:1px solid #ededed;}
.wdhycon1x{ background:#fff;}
.tab2{border-collapse:collapse;}/*去除双倍边框*/
.tab2 tr{ line-height:53px;}
/*购买中心*/
.lbt{ height:170px;}
.gmzx{ height:56px; line-height:56px; padding:0 0px 0 33px; width:607px; background:#fff; border-bottom:1px solid #ededed;}
.text1{ width:424px; height:55px; padding:0; margin:0; border:none;}
.text2{ width:279px; height:55px; padding:0; margin:0; border:none;}
.an1{ width:118px; height:42px; background:#5581ea;border-radius:5px; border:none; padding:0; margin:0 0 0 17px;}

.gmzxdbz{ height:98px;}
.gmzxdb{ height:98px; background:#fff; z-index:9999999; position:fixed; bottom:0; left:50%; margin-left:-320px;}
.gmzxdbrl{ height:998px; line-height:98px; margin-right:18px;}
.btn1{ width:255px; height:98px; background:#5581ea; padding:0; margin:0; border:none;}
.regular-radio {display: none;}
.regular-radio + label {
-webkit-appearance: none;
width:286px;
height:180px;
background:url(../images/goumaihuiyuan2_03.jpg);
display: inline-block;
position: relative;
}

.regular-radio:checked + label:after 
{
content:' ';
width:286px;
height:180px;
position: absolute;
top:0px;
background:url(../images/goumaihuiyuan2_03.jpg) 0 180px;
text-shadow: 0px;
left:0px;
}

.danxuan{ background:#fff; margin-bottom:20px; padding-bottom:20px;}
.danxuan ul li{ float:left; width:286px; height:180px; margin:0 1px 0 22px; padding:20px 0 0 0;}
.danxuans{ position:absolute; left:0; top:0; width:100%; height:100%; z-index:9;}
.danxuanss{ height:61px; line-height:61px; padding-top:30px;}
.danxuansx{ height:61px; line-height:61px;}
.show1{ line-height:38px; padding-top:20px; padding-bottom:20px; max-height:999px;}
.show_title{ padding:0 33px; width:574px; background:#fff; padding-bottom:25px;}
/*0410*/
.z404{ margin-top:-18px; position:relative;}
.z404_txt{ position:absolute; left:0; width:100%; top:235px; line-height:48px; height:48px;}
.kouzi_new ul li{ background:#fff; border-bottom:2px solid #ebebeb; padding-top:20px; height:166px;}
.kouzi_newl{ padding-left:20px;}
.kouzi_newc{ width:48px; height:47px;}
.kouzi_newr{ width:400px;}
.kouzi_newrc{ line-height:28px; height:67px;}
.kouzi_newrs{ height:47px; line-height:38px;text-overflow:ellipsis;white-space:nowrap;}
.mgz2 { margin-left: auto; margin-right: auto; width: 640px;}
#swiper-container{ width:640px; height:100%;}
.tableBreakWord {table-layout:fixed;word-break: break-all; width:100%;}
div {word-wrap: break-word; }
.zw120{ height:120px;}


.noft-red {
    background: none repeat scroll 0 0 #EA3F3F;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 10px;
     height: 20px;
    left: 0;
    padding: 0;
    position: relative;
    text-align: center;
    top: 0;
    width: 20px;
   
}

.noft-green-number {
    background: none repeat scroll 0 0 #4AC4BC;
    border-radius: 50%;
    color: #FFFFFF;
  
    /*float: right;*/
    font-size: 10px;
    height: 20px;
    left: 0;
    padding: 0;
    position: relative;
    text-align: center;
    top: 0;
    width: 20px;
}

.HR3_Red{height:3px;border:none;border-top:3px double red;}
.HR3_668ff2{height:3px;border:none;border-top:3px double #668ff2;}














