.ULList
{
    position:fixed;
    left:10px;
    width:95%;
    height:500px;
    display: block;
    overflow-y:auto;

    overflow-x:hidden;
    white-space:nowrap; /*处理块元素中的空白符和换行*/
    margin:0px auto;
   
}
body
{
    background-color:white;
    font-size:14px!important;
    padding-left:10px;
    padding-top:10px;
}
.ULList li
{
     list-style: none; 
}
.ULList .liHeader
{
    background-color:rgba(251, 180, 76, 0.1);
    height:50px;
    line-height:50px;
    color:rgba(251, 180, 76, 1.0);
    font-size:20px;
    font-family:'Microsoft YaHei',STXihei,MingLiu;
    font-weight:bold;

}
.ULList li div
{
    padding-left:2px;
    padding-right:2px;
    overflow:hidden;
}

.liHeaderDivLeft
{
    border:solid 1px #000000;
    float:left;
    width:35%;
    height:40px;
    line-height:40px;
    text-align:center;
}
.liHeaderDivRight
{
    border:solid 1px #000000;
    height:40px;
    line-height:40px;
    text-align:center;
}


.ULList .liBody
{
    height:45px;
    line-height:45px;
    color:#65C3DF;
    font-size:18px;
    font-family:'Microsoft YaHei',STXihei,MingLiu;
}

.liBodyDivLeft
{
    border:solid 1px #000000;
    float:left;
    width:35%;
    height:40px;
    line-height:40px;
    text-align:center;
    color:brown;
   
}

.liBodyDivRight
{
    border:solid 1px #000000;
    height:40px;
    line-height:40px;
    text-align:center;
    color:crimson;
    
    padding-left:2px;
    padding-right:2px;
   
}

.liBodyDivRight a
{
    padding:10px;
}

.divNextButton
{
    margin-top:15px;
    width:90%;
    text-align:center;
}
.title{
   margin-top:5px !important;
    margin-bottom:15px !important;
    font-size:20px;
    color:gray;
}
.CC{
    margin:0 auto;
    width:480px;
}

.QueryButton{
    
    width:90% !important; height:60px!important; margin-bottom:10px !important;
}
.ConfirmButton{
    width:100%!important; height:40px!important; margin-left:auto!important;margin-right:auto!important; margin-top:10px;

}

