
@{
    ViewBag.Title = "全局配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SubMenu1{
    系统
}
@section SubMenu2{
    全局配置
}
<link href="@Url.Scrpit("~/Content/Style/Web/Info.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/scripts/Web/GlobalConfig.js")"></script>
<div id="InfoArea">
    <div id="Title" class="alert alert-info BarTitle">
        <span class="entypo-info-circled"></span>
        <strong>查看或编辑信息</strong>
    </div>
    <div id="EditArea">
        <input type="hidden" id="storeId" />
        <div class="form-group">
            <label class="col-sm-3 control-label">网站状态</label>
            <div class="col-sm-6">
                <select id="WebStatus">
                    <option value="0">运行</option>
                    <option value="-1">停止</option>
                </select>
            </div>
        </div>
    </div>
    <div class="ButtonList">
        <button type="button" class="btn btn-success" onclick="Save();">保存</button>
    </div>
    <input type="hidden" id="RecId" />
</div>


