
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tools</title>
</head>
<body>
    <div> 
        <a href="/Main/Tools/?act=1">清除APP Cache</a>
        <div>
            @ViewBag.Auth_Store
        </div>
    </div>
</body>
</html>
