
@{
    ViewBag.Title = "OverView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenu1{
    报表
}
@section SubMenu2{
    综合报表
}

<link href="@Url.Scrpit("~/Content/Style/Web/List.css")" rel="stylesheet" />
<link href="@Url.Scrpit("~/Content/Style/Web/FixTableList.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/scripts/Web/Common.js")"></script>
<script src="@Url.Scrpit("~/scripts/Component/IQBTable.js")"></script>


<div id="ListArea">
    <div id="Title" style="margin:0px; height:200px;">
        <span id="ListTitleName">代理业绩</span>
        <hr />
        <div class="ListCondition">
            <ul class="UlHorizontal">
                <li>
                    <div class="form-group">
                        <label>代理人：</label>
                        <input id="cAgentName" type="text" class="form-control ConditionField">
                    </div>
                </li>
                <li>
                    <label>上级：</label>
                    <input id="cParentName" type="text" class="form-control ConditionField">
                </li> 
                <li>
                    <label>日期：</label>
                    <select id="cDateType" class="form-control ConditionField">
                        <option value="1" selected>今天</option>
                        <option value="2">3天</option>
                        <option value="3">7天</option>
                        <option value="99">全部</option>
                    </select>
                </li>   
            </ul>
        </div>
        <ul class="UlHorizontal ListButtonRight">
            <li>
                <button id="btnSearch" type="button" class="btn btn-primary" onclick="btnSearch();">查询</button>
            </li>
        </ul>
    </div>
    <div id="ListContent">
        <div class="fix-header-table" id="FixHeaderTable">
            <div class="divH" id="divTableHeader">
                <table id="TableHeader" class="table table-hover table-bordered TableOverflowHidden">
                    <thead class="cf">
                        <tr id="trHeader">
                            <th style="width:200px;">用户名</th>
                            <th style="width:120px;">上级名</th>      
                            <th style="width:100px;">达成订单数</th>
                            <th style="width:100px;">达成金额</th>
                            <th style="width:100px;">未成订单数</th>
                        </tr>
                        <tr>
                            <td colspan="17" class="RecordSum" id="RecordSum"></td>
                        </tr>
                    </thead>
                </table>
            </div>

            <div id="divTableBody" class="divB" style="height: 450px;">
                <table id="trContainer" class="table table-hover table-bordered TableOverflowHidden"></table>
            </div>

            <div id="divProcess" style="height:450px;line-height:450px;text-align:center;display:none;">
                数据加载中。。。
            </div>
        </div>
        <div class="divNextButton" id="btnNext"><button type="button" class="btn btn-success" style="width:250px; height:60px;" onclick="Next();">下一页</button></div>
    </div>
</div>