@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <title></title>
  
</head>
<body>
    <div class="DivCenterContainer">
        <div class="Content">
            <img src="~/Content/Images/Core/AuthToISV.png" />
            <p class="QR_Desc">请支付宝扫描后绑定商户入驻</p>
        </div>
    </div>
</body>
</html>
