
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
    <script type="text/javascript">
      
        function Go(url)
        {
            var TotalAmt = $("#TotalAmt").val();
            var OrderNo = $("#OrderNo").val();
            var url = url + "?TotalAmt=" + 1 + "&orderNo=201709290433312gbadd9d";
            window.location = url;
        }
    </script>
</head>
<body>
    <div> 
        <ul>
            <li><a href=@Url.Action("Pay","AliPay")>Payment</a></li>
            <li><a href=@Url.Action("AuthToISV", "AliPay")>AuthToUser</a></li>
            <li><a href=@Url.Action("GetAuthToken", "AliPay")>GetAuthToken</a></li>
            <li><a href=@Url.Action("QueryToken", "AliPay")>QueryToken</a></li> 
            <li><a href=@Url.Action("QRImg","AliPay")>QRImg</a></li>
            <li><a href=@Url.Action("QRImgWX","AliPay")>QRImg_WX</a></li>
            <li><a href="http://localhost:24068/AliPay/F2FPay?qrUserId=1&Amount=0.01">F2F</a></li> 
            <li>           
               <a href=@Url.Action("SubAccount", "AliPay")>分账</a>
            </li>
         
            <li>
                <a href=@Url.Action("Transfer", "AliPay")>转账到Jacky.Song</a>
            </li>
            <li>
                <a href=@Url.Action("Note", "AliPay")>发送通知</a>
            </li>
        </ul>
        <img src=@ViewData["imgSrc"] />
        <span>@ViewData["url"]</span>
       
    </div>
</body>
</html>
