
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //var a = "shanghai";
            //alert(a.substr(3));

        })
        function Go(url)
        {
            var TotalAmt = $("#TotalAmt").val();
            var OrderNo = $("#OrderNo").val();
            var url = url + "?TotalAmt=" + 1 + "&orderNo=201709290433312gbadd9d";
            window.location = url;
        }

        function Transfer(orderAmt, CommAmt, account, openId) {

            if (account == "" || account == null) {
                alert("用户没有设置提款账号，无法打款！");
                return;
            }
            if (orderAmt + CommAmt == 0)
                alert("没有可转金额");

            // var url = "http://localhost:24068/API/TransferAPI/TransferToAgent";
            var url = "/API/TransferAPI/TransferToAgent";
            $.ajax({
                type: 'post',
                data: "OpenId=" + openId + "&AliPayAccount=" + account + "&OrderAmount=" + orderAmt + "&CommissionAmount=" + CommAmt,
                url: url,
                success: function (data) {
                    if (data.IsSuccess) {
                        alert("转账成功！");
                        $("#MyRemainAmount").text("");
                        $("#MyOrderTotalAmount").text("");
                        $("#MyAgentOrderTotalAmount").text("");
                    }
                    else
                        alert(data.ErrorMsg);
                },
                error: function (xhr, type) {
                    alert('Ajax error!');
                }
            });
        }
        function PartPayQR()
        {
            var url = "/AliPay/PartPayQR";
            $.ajax({
                type: 'post',
                data: "",
                url: url,
                success: function (data) {
                    if (data == "error")
                        alert("出错");
                    else
                    $("#QR").attr("src", data);
                },
                error: function (xhr, type) {
                    alert('Ajax error!');
                }
            });
        }
      
    </script>
</head>
<body>
    <div> 
        <ul>
            <li><a href=@Url.Action("Pay", "AliPay", new { amount = 14388 })>手机Pay</a></li>

            <li><a href=@Url.Action("PCPay", "AliPay", new { amount = 14388 })>PC Pay</a></li>

            <li><a href=@Url.Action("TestF2F", "AliPay",new { No = 20180108003 })>当面付</a></li>
            <li><a href=@Url.Action("AuthToISV", "AliPay")>AuthToUser</a></li>
            <li><a href=@Url.Action("GetAuthToken", "AliPay")>GetAuthToken</a></li>
            <li><a href=@Url.Action("QueryToken", "AliPay")>QueryToken</a></li> 
            <li><a href=@Url.Action("QRImg","AliPay")>QRImg</a></li>
            <li><a href=@Url.Action("QRImgWX","AliPay")>QRImg_WX</a></li>
            <li><a href=@Url.Action("QRUserImg","AliPay")>收款二维码生成</a></li>

            <li><a href="/AliPay/F2FPay?qrUserId=1246&Amount=10&song_fuwei@hotmail.com">F2F</a></li> 
            @*<li><a href="/API/TransferAPI/TransferToAgent?OpenId=o3nwE0qI_cOkirmh_qbGGG-5G6B0&AliPayAccount=song_fuwei@hotmail.com&OrderAmount=1.95&CommissionAmount=0">Transfer</a></li>*@ 
            <input type="button" onclick="Transfer('1', '0', 'song_fuwei@hotmail.com', 'o3nwE0qI_cOkirmh_qbGGG-5G6B0')" value="转账" />
            <li>           
               <a href=@Url.Action("SubAccount", "AliPay",new { OrderNo = "YJO2018011310265758" })>分账</a>
            </li>
         
            <li>
                <a href=@Url.Action("Transfer", "AliPay")>转账到Jacky.Song</a>
            </li>
            <li>
                <a href=@Url.Action("Note", "AliPay")>发送通知</a>
            </li>
            <li><a href=@Url.Action("TransferToMainAccount", "AliPay")>转账到子公司</a></li>
            <li><a href=@Url.Action("QueryOrder", "AliPay")>查询订单</a></li>

            <li><a href=@Url.Action("F2FPay", "AliPay",new { qrUserId = "1383", Amount = "580" })>真实F2F</a></li>
            <li><input type="button" onclick="PartPayQR()" value="分期" /></li>

        </ul>
        <img id="QR" src=@ViewData["imgSrc"] />
        <span>@ViewData["url"]</span>
       
    </div>
</body>
</html>
