
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Auth</title>
</head>
<body>
    <div>
        <a href="@Url.Action("Pay","AliPay")">Pay</a>
        <input type="button" value="支付" />
    </div>
</body>
</html>
