
@{
    ViewBag.Title = "订单列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenu1{
    单据管理
}
@section SubMenu2{
    列表
}
<link href="~/Content/Style/Web/List.css" rel="stylesheet" />
<script src="~/scripts/Web/Common.js"></script>
<script src="~/scripts/Component/IQBTable.js"></script>
<link href="~/Content/Style/Web/FixTableList.css" rel="stylesheet" />
<script src="~/scripts/Web/OrderList.js"></script>


<div id="ListArea">
    <div id="Title" style="margin:0px;">
        <span id="ListTitleName">订单列表</span>
        <ul class="UlHorizontal" style="float:right">
            <li>
              
                <button type="button" class="btn btn-primary" onclick="Query();">查询</button>
            </li>
        </ul>
    </div>
    <div id="ListContent">
        <div class="fix-header-table" id="FixHeaderTable">
            <div class="divH" id="divTableHeader">
                <table id="TableHeader" class="table table-hover table-bordered TableOverflowHidden">
                    <thead class="cf">
                        <tr id="trHeader">
                            <th style="width:200px;"> 操作</th>
                            <th style='width:200px;'>订单编号</th>
                            <th style="width:200px;">支付宝订单编号</th>
                            <th style="width:200px;">订单状态</th>
                            <th style="width:200px;">总金额</th>
                            <th style="width:200px;">代理用户</th>
                            <th style="width:200px;">代理扣点率</th>
                            <th style="width:200px;">代理扣点金额</th>
                            <th style="width:200px;">代理实际收入</th>
                            <th style="width:200px;">商户名</th>
                            <th style="width:200px;">商户类型</th>
                            <th style="width:200px;">商户佣金点率</th>
                            <th style="width:200px;">商户佣金</th>
                            <th style="width:200px;">平台实际收入</th>
                            <th style="width:200px;">结算编号</th>
                            <th style="width:200px;">结算金额</th>                            
                        </tr>
                    </thead>
                </table>
            </div>
            <div id ="divTableBody" class="divB" style="height: 600px;" >
                 <table id="trContainer" class="table table-hover table-bordered TableOverflowHidden">
                    

                 </table>
            </div>
       </div>
       
    </div>
</div>
