
@{
    ViewBag.Title = "我的订单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenu1{
    我的订单
}
@section SubMenu2{
    列表
}
<link href="~/Content/Style/Web/List.css" rel="stylesheet" />
<link href="~/Content/Style/Web/FixTableList.css" rel="stylesheet" />
<script src="~/scripts/Web/Common.js"></script>
<script src="~/scripts/Component/IQBTable.js"></script>
<script src="~/scripts/Web/OrderMyList.js"></script>

<div id="ListArea">
    <div id="Title" style="margin:0px;">
        <span id="ListTitleName">我的订单</span>
        <hr />
        <div class="ListCondition">
            <ul class="UlHorizontal">
                <li>
                    <label>日期：</label>
                    <select id="cDateType" class="form-control ConditionField">
                        <option value="1" selected>今天</option>
                        <option value="2">本周</option>
                        <option value="3">本月</option>
                        <option value="99">全部</option>
                    </select>
                </li>
                <li>
                    <label>订单状态：</label>
                    <select id="cOrderStatus" class="form-control ConditionField">
                        <option value="1">支付</option>
                        <option value="2">结算</option>
                        <option value="-1">异常</option>
                        <option value="99">全部</option>
                    </select>
                </li>
            </ul>

        </div>
        <ul class="UlHorizontal ListButtonRight">
            <li>
                <button id="btnSearch" type="button" class="btn btn-primary" onclick="btnSearch();">查询</button>
            </li>
        </ul>
    </div>
    <div id="ListContent">
        <div class="fix-header-table" id="FixHeaderTable">
            <div class="divH" id="divTableHeader">
                <table id="TableHeader" class="table table-hover table-bordered TableOverflowHidden">
                    <thead class="cf">
                        <tr id="trHeader">
                            <th style="width:100px;"> 操作</th>
                            <th style="width:250px;">订单编号</th>
                            <th style="width:250px;">支付宝订单编号</th>
                            <th style="width:100px;">订单状态</th>
                            <th style="width:200px;">总金额</th>
                            <th style="width:200px;">交易时间</th>
                            <th style="width:200px;">代理扣点率</th>
                            <th style="width:200px;">代理实际收入</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="divTableBody" class="divB" style="height: 450px;">
                <table id="trContainer" class="table table-hover table-bordered TableOverflowHidden"></table>
            </div>
            <div id="divProcess" style="height:450px;line-height:450px;text-align:center;display:none;">
                数据加载中。。。
            </div>
        </div>
        <div class="divNextButton" id="btnNext"><button type="button" class="btn btn-success" style="width:250px; height:60px;" onclick="Next();">下一页</button>
        </div>
        <input id="OpenId" type="hidden" value="@ViewBag.OpenId" />
    </div>
</div>

