
@{
    ViewBag.Title = "StoreInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenu1{
    商户
}
@section SubMenu2{
    我的商户列表
}



<link href="@Url.Scrpit("~/Content/Style/Web/List.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/scripts/Web/Common.js")"></script>
<script src="@Url.Scrpit("~/scripts/Component/IQBTable.js")"></script>
<script src="@Url.Scrpit("~/scripts/Web/StoreList.js")"></script>
<div id="ListArea">
    <div id="Title" style="margin:0px;">
        <span id="ListTitleName"></span>
        <div class="ListCondition">
            <ul class="UlHorizontal">
                <li>
                    <div class="form-group">
                        <label>商户名：</label>
                        <input id="cStoreName" type="text" class="form-control ConditionField">
                    </div>
                </li>

                <li>
                    <div class="form-group">
                        <label>状态：</label>
                        <select id="cRecordStatus" class="form-control ConditionField">
                            <option value="1">禁用</option>
                            <option value="99">全部</option>
                            <option value="0" selected>正常</option>
                        </select>

                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label>大/小：</label>
                        <select id="cStoreType" class="form-control ConditionField">
                            <option value="4">大额</option>
                            <option value="99" selected>全部</option>
                            <option value="0">小额</option>
                        </select>

                    </div>
                </li>
              

        </div>

        <ul class="UlHorizontal" style="float:right">
            @*<li>
                <button type="button" class="btn btn-warning" onclick="ToInfo(1,1);">添加商户</button>
            </li>*@
            <li>
                <button type="button" class="btn btn-primary" onclick="Query();">查询</button>
            </li>
            <li>
                <button type="button" class="btn btn-warning" onclick="ReSet();">重置可用额度</button>
            </li>
            <li>
                <button type="button" class="btn btn-success" onclick="CheckStoreAuth();">检测商户</button>
            </li>
          
           
        </ul>
    </div>
    <div id="ListContent">
        <table id="tbData" class="table table-hover table-bordered TableOverflowHidden">
            <thead class="cf">
                <tr id="trHeader">
                    <th width="40px">ID</th>
                    <th width="100px">供应商</th>
                    <th width="180px">商户名</th>
                    <th width="60px">渠道</th>
                    <th width="50px">点率</th>
                    <th width="90px">日营业额</th>
                    <th width="90px">剩余额度</th>
                    <th width="70px">最小额度</th>
                    <th width="70px">最大额度</th>
                    <th width="">大码/小码</th>
                    <th width="140px;">AliPay UserId</th>
                    <th width="150">中账户</th>  
                    <th width="80px">中费率</th>           
                    <th>备注</th>
                    <th width="">状态</th> 
                    <th width=""> 操作</th>
                </tr>
            </thead>
            <tbody id="trContainer">
              
            </tbody>
        </table>
    </div>
</div>



