
@{
    ViewBag.Title = "LearningVideo";
    Layout = "~/Views/Shared/_O2OLayout.cshtml";
}

<h2>教学视频</h2>
<embed src='http://player.youku.com/player.php/sid/XMzU3NjY0NDM0MA==/v.swf' allowFullScreen='true' quality='high' width='480' height='600' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>

