
@{
    ViewBag.Title = "用户列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenu1{
    <a href="/User/List" title="用户管理">用户管理</a>
}
@section SubMenu2{
    代理列表
}

<link href="@Url.Scrpit("~/Content/Style/Web/List.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/scripts/Web/Common.js")"></script>
<script src="@Url.Scrpit("~/scripts/Component/IQBTable.js")"></script>
<script src="@Url.Scrpit("~/scripts/Web/UserList.js")"></script>
<div id="ListArea">
    <div id="Title" style="margin:0px;">
        <span id="ListTitleName"></span>
        <div class="ListCondition">
            <ul class="UlHorizontal">
                <li>
                    <div class="form-group">
                        <label>代理名称：</label>
                        <input id="cAgentName" type="text" class="form-control ConditionField">
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label>上级代理：</label>
                        <input id="cParentName" type="text" class="form-control ConditionField">
                    </div>
                </li>
            </ul>

        </div>
        <ul class="UlHorizontal" style="float:right">  
          <li>
                <button type="button" class="btn btn-primary" onclick="BtnQuery();">查询</button>
            </li>

        </ul>
    </div>
    <div id="ListContent">
        <table id="tbData" class="table table-hover table-bordered">
            <thead class="cf">
                <tr id="trHeader">
                    <th width="220px">用户名</th>
                    <th width="60px">当前点率</th>
                    <th width="60px">上级佣金</th>
                    <th width="60px">用户手续费</th>
                    <th width="150px">上级代理</th>
                    <th width="80px;">注册时间</th>
                    <th width="180px">提现账户</th>
                    @*<th width="">是否自动打款</th>*@
                    <th width="240px">OpenId</th>       
                    <th width="">收款商户</th>
                    <th width="">用户状态</th>
                    <th width="100px"> 操作</th>
                </tr>
            </thead>
            <tbody id="trContainer"></tbody>
        </table>
        <div class="divNextButton" id="btnNext">
            @*<button type="button" class="btn btn-success" style="width:250px; height:60px;" onclick="Prev();">上一页</button>*@
            <button type="button" class="btn btn-success" style="width:250px; height:60px;" onclick="Next();">加载更多</button>
        </div>
        
    </div>
</div>



