
@{
    ViewBag.Title = "用户列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenu1{
    <a href="/User/List" title="用户管理">用户管理</a>
}
@section SubMenu2{
    代理列表
}

<link href="@Url.Scrpit("~/Content/Style/Web/List.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/scripts/Web/Common.js")"></script>
<script src="@Url.Scrpit("~/scripts/Component/IQBTable.js")"></script>
<script src="@Url.Scrpit("~/scripts/Web/UserList.js")"></script>
<div id="ListArea">
    <div id="Title" style="margin:0px;">
        <span id="ListTitleName"></span>
        <ul class="UlHorizontal" style="float:right">  
          <li>
                <button type="button" class="btn btn-primary" onclick="Query();">查询</button>
            </li>

        </ul>
    </div>
    <div id="ListContent">
        <table id="tbData" class="table table-hover table-bordered TableOverflowHidden">
            <thead class="cf">
                <tr id="trHeader">
                    <th width="">用户名</th>
                    <th width="">当前点率</th>
                    <th width="">注册时间</th>
                    <th width="">提现账户</th>
                    <th width="">是否自动打款</th>
                    <th width="">上级代理</th>
                    <th width="">上级代理返点率</th>
                    <th width="">收款商户</th>
                    <th width="">用户状态</th>
                    <th width=""> 操作</th>
                </tr>
            </thead>
            <tbody id="trContainer"></tbody>
        </table>
        <div class="divNextButton" id="btnNext">
            @*<button type="button" class="btn btn-success" style="width:250px; height:60px;" onclick="Prev();">上一页</button>*@
            <button type="button" class="btn btn-success" style="width:250px; height:60px;" onclick="Next();">加载更多</button>
        </div>
        
    </div>
</div>



