
@{
    ViewBag.Title = "User Profile";
}
@section SubMenu1{
    用户管理
}
@section SubMenu2{
    用户信息
}
<link href="~/Content/Style/Web/User.css" rel="stylesheet" />
<script src="~/scripts/Web/UserProfile.js"></script>

<div id="ProfileAreaContainer">
    <ul id="LeftUL">
        <li>
        <span style="float:left !important;" class="entypo-user">
            </span>&nbsp;&nbsp;用户</li>
        <li style="text-align:center;">
        <img id="" class="img-profile-big" src="http://wx.qlogo.cn/mmopen/wiaLKhKTxZqNrdZZDewJMIvMqJEib79Z7wYAzqX5TB4adpyBs8IrSx2sh4tLXbyD4RiaPLorwhcebS8AO2JfdiaO9JBWHvMAJ2HU/0" /></li>
        <li>角色类型：
            <span id="UserRole"></span>
        </li>
        <li>注册日期
            <span id="RegisterDate"></span>
        </li>
        <li>最后登录日期
            <span id="LastLoginDate"></span>
        </li>
    </ul>

    <div id="Right">
        <h2 id="Name">
            xxxxx
           
        </h2>
        <hr />
        <dl id="dtUserDetail" class="dl-horizontal-profile">
            <dt>User Id</dt>
            <dd>eko.sulis</dd>

            <dt>Name</dt>
            <dd>Eko Sulistyo</dd>

            <dt>Phone</dt>
            <dd>081 725 xxx</dd>
        </dl>
    </div>
</div>

<div id="ActionContainer">
    <div id="Title" class="alert alert-info">
        <span class="entypo-info-circled"></span>
        <strong>您可以开始以下操作</strong>
    </div>
    <div>
        <ul class="UlHorizontal AtionList" style="width:1024px">
            <li><button type="button" class="btn-warning">获取我的收款二维码</button></li>
           
            <li><button type="button" class="btn-primary">订单查询</button></li>
        </ul>
    </div>
</div>
<input type="hidden" id="RecId" />