
@{
    ViewBag.Title = "User Profile";
}
@section SubMenu1{
    用户管理
}
@section SubMenu2{
    用户信息
}
<link href="@Url.Scrpit("~/Content/Style/Web/User.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/scripts/Web/UserProfile.js")"></script>

<div id="ProfileAreaContainer">
    <ul id="LeftUL">
        <li>
        <span style="float:left !important;" class="entypo-user">
            </span>&nbsp;&nbsp;用户</li>
        <li style="text-align:center;">
        <img id="HeaderImg" class="img-profile-big" src="" /></li>
        <li>角色类型：
            <span id="UserRole"></span>
        </li>
        <li>注册日期
            <span id="RegisterDate"></span>
        </li>
        <li>最后登录日期
            <span id="LastLoginDate"></span>
        </li>
    </ul>

    <div id="Right">
        <h2 id="UserName">
           用户名
           
        </h2>
        <hr />
        <dl id="dtUserDetail" class="dl-horizontal-profile">
            <dt>用户Id</dt>
            <dd id="UserId"></dd>

            <dt>手机</dt>
            <dd id="UserPhone"></dd>
            <dt>当前收款二维码</dt>
            <dd>
                <img id="QRImg" style="width:150px;height:150px;" src="~/Content/Images/noPic.jpg" />
                <span class="QRImg_Desc">扫描授权码获取您的收款码，如反复扫码，则收款码扣点率将被最后一次覆盖</span>
            </dd>
            <dt>收款码扣点率</dt>
            <dd id="Rate" style="color:brown"></dd>
</dl>
    </div>
</div>

<div id="ActionContainer">
    <div id="Title" class="alert alert-info">
        <span class="entypo-info-circled"></span>
        <strong>您可以开始以下操作</strong>
    </div>
    <div>
        <ul class="UlHorizontal AtionList" style="width:1024px">
            @*<li><button type="button" class="btn-warning">我的收款二维码</button></li>*@
            <li><button type="button" class="btn-primary">订单查询</button></li>
        </ul>
    </div>
</div>
<input type="hidden" id="RecId" />