
.fix-header-table {
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    height: 100%;
    width: 98%;
}

.fix-header-table table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin-bottom:0px !important;
}

.divH {
    background: #f2f2f2;
    width: 100%;
}

.divB {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


