#InfoArea
{
     background-color:#FAFAFA;
     overflow:hidden; 
     margin:30px; 
     width:95%;
}

#InfoArea #EditArea
{
    width:800px;
    overflow:hidden;

}

#EditArea > div
{
    overflow:hidden;
    clear:both;
 
}

/*Left Area*/
#EditLeftArea
{
    width:600px;
    overflow:hidden;
    float:left;
    /*background-color:aquamarine;*/
    height:600px;
}

#EditLeftArea > div
{
    overflow:hidden;
    clear:both;
 
}
/*Right Area */
#EditRightArea
{
    width:600px;
    overflow:hidden;
    float:left;
     height:100%;
     /*background-color:bisque;*/

}

.BarTitle
{   
    width:80%;
    padding:10px;
}
.ButtonList
{
    width:60%;
    clear:both;
   
}
.ButtonList button
{
   margin:0 10px;
   float:right;
 
}

