
@{
    ViewBag.Title = "AgentQRAdjustment";
    Layout = "~/Views/Shared/_O2OLayout.cshtml";
}
<link href="@Url.Scrpit("~/Content/Css/AgentQRAdjustment.css")" rel="stylesheet" />
<div class="HeaderBK">
    <div class="ImgContainer">
        <img align="absmiddle" src="@ViewBag.Headimgurl" width="100" height="100" />
    </div>
    <div class="HeaderInfo">
        <div class="AgentDes">
            <img align="absmiddle" src="@ViewBag.UserRoleImg" />
            <span class="AgentName">@ViewBag.ShowName</span>
        </div>
       
    </div>
</div>
<div class="PageTitle">账户信息</div>

