
@{
    ViewBag.Title = "Agent_QR_ARList";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link href="@Url.Scrpit("~/Content/Css/Info.css")" rel="stylesheet" />
<script src="~/Content/Script/Component/Validform_v5.3.2_min.js"></script>
<script src="@Url.Scrpit("~/Content/Script/IQBPay/Agent_QR_ARList.js")"></script>

<div id="PageList">
    <div class="grzxcon2 mgz xi30 bai cen">收款二维码列表</div>
    <div class="ListTableBody_noFixed" id="ListTableBody">
        <div id="Process" class="DataProcess" style="display:none;">数据加载中...</div>
        <table class="table mgz2  large-only" id="trContainer"></table>
    </div>
    <button type="button" class="mgz btn btn-primary AlwaysBottom20" id="btnNext" style="width:90%" onclick="Next();">加载更多</button>
</div>

<div id="PageInfo" class="PageInfo">
    <div class="grzxcon2 mgz xi30 bai"><a href="javascript:ToListPage();"><<返回列表</a></div>
    <div class="InfoBody">
        <div class="form-group">
            <label class="label-top">当前用户手续费</label>
            <div class="col-sm-6">
                <input id="MarketRate" type="text" class="form-control" datatype="s" nullmsg="当前用户手续费" sucmsg="OK">
            </div>
            <div class="Validform_checktip"></div>
        </div>
        <div class="form-group">
            <label class="label-top">用户手续费调整为（只允许8-12之间）</label>
            <div class="col-sm-6">
                <input id="AfterMarketRate" type="text" class="form-control" datatype="My8-12" nullmsg="请填写调整手续费" sucmsg="OK" errormsg="请填写8-12之间的数字">
            </div>
            <div class="Validform_checktip"></div>
        </div>

        <div class="form-group">
            <label class="label-top">设为当前收款二维码</label>
            <div class="col-sm-6">
                <input type="checkbox" />
            </div>
        </div>

        <div id="buttonArea" style="margin-bottom:50px;">
            <button type="button" class="mgz btn btn-primary AlwaysBottom20" id="btnAdjustAgentQR" style="width:95%; height:60px;" onclick="AdjustAgentQR();">调整</button>
        </div>
    </div>
    <input type="hidden" value="@ViewBag.OpenId" id="hOpenId" />
</div>

