
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
</head>
<body>
    <div> 
        <a href="@Url.Action("Auth_AR","PP",new {Id= "13", act="0"})">点我授权</a>
    </div>
</body>
</html>
