
@{
    ViewBag.Title = "InviteCode";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href="@Url.Scrpit("~/Content/Css/Info.css")" rel="stylesheet" />
<script src="~/Content/Script/Component/Validform_v5.3.2_min.js"></script>
<script src="@Url.Scrpit("~/Content/Script/IQBPay/InviteCode.js")"></script>

<div id="PageInfo" class="PageInfo">
    <div class="grzxcon2 mgz xi30 bai">【@ViewBag.ShowName】 邀请码</div>

    <div class="InfoBody">
        <div class="form-group">
            <label class="label-top">代理反点率</label>
            <div class="col-sm-6">
                <input id="Rate" type="text" class="form-control" datatype="n" nullmsg="请填写代理反点率" sucmsg="OK" errormsg="请填写数字">
            </div>

        </div>

        <div class="form-group" id="Field_AfterMarketRate">
            <label class="label-top">上级代理反佣金率</label>
            <div class="col-sm-6" style="width:95%">
                <input type="text" id="ParentCommRate" class="form-control" datatype="n" nullmsg="上级代理反佣金" sucmsg="OK" errormsg="请填写上级代理反佣金率" />  %            
            </div>
        </div>
        <div id="buttonArea" style="margin-bottom:50px;">
            <button type="button" class="mgz btn btn-primary AlwaysBottom20" id="btnSave" style="width:95%; height:60px;">更新</button>
        </div>
       
    </div>
    <div class="cen">
        <label class="label-top">邀请二维码</label>
        <div class="col-sm-6">
            <img id="QRImg" style="width:256px; height:256px;" />
        </div>
    </div>
    <input type="hidden" value="@ViewBag.OpenId" id="hOpenId" />
   

</div>

