
@{
    ViewBag.Title = "LeagueStoreList";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="grzxcon1 mgz">
    <div class="grzxcon1l f"><img align="absmiddle" src="@ViewBag.Headimgurl" width="130" height="130" /></div>
    <div class="grzxcon1r f bai">
        <div class="grzxcon1rs mg2"></div>
        @*<div class="grzxcon1rx mg2 xi21"><img align="absmiddle" src="images/grzx_03.jpg" /></div>*@
    </div>
</div>
<div class="grzxcon2 mgz xi40 bai cen">
    <ul>
        <li><span id="OrderNum">11</span><span class="xi20">订单数量</span></li>
        <li><span id="TodayInCome">22</span><span class="xi20">今日收益</span></li>
        <li><span id="allInCome">33</span><span class="xi20">今日收益</span></li>
    </ul>
</div>
