
@{
    ViewBag.Title = "QRHugeEntry";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href="@Url.Scrpit("~/Content/Css/Info.css")" rel="stylesheet" />

<div id="PageInfo" class="PageInfo">
    <div class="grzxcon2 mgz xi30 bai cen">大额二维码</div>

</div>
