
@{
    ViewBag.Title = "Report_OverView";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="PageList">
    <div class="DivTable2_2 mgz xi30 bai cen ">
        <ul>
            <li><span class="xi15">新增订单</span><div id="OrderNum" class="highlight">192</div></li>
            <li><span class="xi15">新增金额</span><div id="TodayInCome" class="highlight">29102912</div></li>
           
        </ul>
        <ul>
            <li><span class="xi15">总订单</span><div id="allOrderNum">10201</div></li>
            <li><span class="xi15">总金额</span><div id="allInCome">2029189281</div></li>
        </ul>
    </div>
</div>
