
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="@Url.Scrpit("~/Content/Script/jquery-1.10.2.min.js")"></script>
    <link href="@Url.Scrpit("~/Content/Css/MainCss.css")" rel="stylesheet" />
    <script src="@Url.Scrpit("~/Content/Script/jsCommon.js")"></script>
    <title>付款</title>
</head>
<body>
    <style>
        body {
            background: #ffffff;
        }
    </style>
    <div class="yue mgz cen">
        <div id="Content" style="height:200px">
            <div class="yuec mg2 xi35"> 点击下方按钮开始支付</div>

        </div>

    </div>
    @*<div class="yuecon1 mgz cen xi28 bai tm" style="width:90%;margin-bottom:20px;">
        <a href="https://qr.alipay.com/stx00520fo06wxgfzclfb82">点击这里付款499</a>
    </div>

    <div class="yuecon1 mgz cen xi28 bai tm" style="width:90%">
        <a href="https://qr.alipay.com/stx03020wx6mc7xo9kkkef6">点击这里付款299</a>
    </div>*@
</body>
</html>
