
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_O2OLayout.cshtml";
}

<link href="@Url.Scrpit("~/Content/Css/ShuaDan/Reg.css")" rel="stylesheet" />
<script src="~/Content/Script/Component/jquery.blockUI.min.js"></script>
<script src="@Url.Scrpit("~/Content/Script/IQBPay/SMS.js")"></script>
<script src="@Url.Scrpit("~/Content/Script/ShuaDan/Reg.js")"></script>

<style>
    .sr-only {
        color: white;
        clip: unset;
        width: 100%;
        height: 20px;
        left: 0px;
    }
    .ResultText{
            font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: cornflowerblue;
   
    }
</style>

<header class="o2o_header">
    @*<div class="header_back" onclick="historyBack();"></div>*@
    <div class="header_title">玉杰市场活动登记</div>
</header>
<div class="o2o_content" id="main" >
    <!-- 获取验证码 -->
    <div id="get_phone_check">
        <input id="phone_num" type="tel" placeholder="请输入手机号" class="form-control get_phone_check_input" />
        <div id="phone_clear" class="input_clear" onclick="clearPhone();"></div>
        <button type="button" class="btn btn-warning get_phone_btn" id="btn_GetVerifyCode">获取验证码</button>
        @*<div class="get_phone_btn" >获取验证码</div>*@
    </div>
    <!-- 确认验证 -->
    <div id="verify_phone_check">
        <input id="code_num" type="tel" placeholder="请输入验证码" class="form-control get_phone_check_input" />
        <div id="code_clear" class="input_clear" onclick="clearCode();"></div>
        <button type="button" class="btn btn-success get_code_btn" id="btn_ConfirmVerifyCode">确认验证</button>
        @*<div class="get_code_btn" >确认验证</div>*@
    </div>
   
    @*<div class="o2o_index_btn" id="o2o_btn__order" onclick="orderPdt();">我要购物</div>*@
</div>
<div id="ResultArea" class="o2o_content" style="display:none">
    <div class="ResultText">
        感谢您的关注！
    </div>
</div>
