
@{
    ViewBag.Title = "二维码列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SubMenu1{
    二维码
}
@section SubMenu2{
    收款二维码列表
}

<link href="~/Content/Style/Web/List.css" rel="stylesheet" />
<script src="~/scripts/Component/IQBTable.js"></script>
<script src="~/scripts/Web/QR_ARList.js"></script>
<div id="ListArea">
    <div id="Title" style="margin:0px;">
        收款二维码列表
        <ul class="UlHorizontal" style="float:right">
            <li>
                <button type="button" class="btn btn-warning" onclick="ToInfo(1);">新增</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary" onclick="Query();">查询</button>
            </li>

        </ul>
    </div>
    <div id="ListContent">
        <table id="tbData" class="table table-hover table-bordered TableOverflowHidden">
            <thead class="cf">
                <tr id="trHeader">  
                    <th width="150px;">二维码 
                    <th width="150px">点率(0-100)</th>
                    <th>备注</th>
                    <th width="100px;">状态</th>
                    <th width="100px;"> 操作</th>
                </tr>
            </thead>
            <tbody id="trContainer"></tbody>
        </table>
    </div>
</div>

