
@{
    ViewBag.Title = "二维码列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SubMenu1{
    二维码
}
@section SubMenu2{
    代理授权码
}

<link href="@Url.Scrpit("~/Content/Style/Web/List.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/scripts/Component/IQBTable.js")"></script>
<script src="@Url.Scrpit("~/scripts/Web/QR_ARList.js")"></script>
<div id="ListArea">
    <div id="Title" style="margin:0px;">
        代理授权码
        <div class="ListCondition">
            <ul class="UlHorizontal">
                <li>
                    <div class="form-group">
                        <label>代理名称：</label>
                        <input id="cAgentName" type="text" class="form-control ConditionField">
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label>代理级别：</label>
                       <select id="cUserRole" class="form-control ConditionField">
                           <option value="-1" >全部</option>
                           <option value="2">代理</option>
                           <option value="3" selected>总代理</option>
                           <option value="100">管理员</option>
                       </select>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="UlHorizontal" style="float:right">
            @*<li>
                <button type="button" class="btn btn-warning" onclick="ToInfo(1);">新增</button>
            </li>*@
            <li>
                <button type="button" class="btn btn-primary" onclick="BtnQuery();">查询</button>
            </li>

        </ul>
    </div>
    <div id="ListContent">
        <table id="tbData" class="table table-hover table-bordered TableOverflowHidden">
            <thead class="cf">
                <tr id="trHeader">  
                    <th width="200px;">二维码 
                    <th width="80px">点率(0-100)</th>
                    <th width="80px">上级佣金</th>
                    <th width="200px">上级代理</th>                    
                    <th width="80px;">最多可邀请人数</th>
                    <th width="80px;">已邀请人数</th>
                    <th width="250px">备注</th>
                    <th width="100px;">状态</th>
                    <th width="100px;"> 操作</th>
                </tr>
            </thead>
            <tbody id="trContainer"></tbody>
        </table>
        <div class="divNextButton" id="btnNext">
            @*<button type="button" class="btn btn-success" style="width:250px; height:60px;" onclick="Prev();">上一页</button>*@
            <button type="button" class="btn btn-success" style="width:250px; height:60px;" onclick="Next();">加载更多</button>
        </div>
    </div>
</div>

