
@{
    ViewBag.Title = "商户授权码详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenu1{
    二维码
}
@section SubMenu2{
    商户授权码详情
}
<link href="~/Content/Style/Web/Info.css" rel="stylesheet" />
<script src="~/scripts/Web/Common.js"></script>


<link href="~/Content/Component/bootstrap-switch/bootstrap-switch.min.css" rel="stylesheet" />
<script src="~/Content/Component/bootstrap-switch/bootstrap-switch.min.js"></script>


<div id="InfoArea">
    <div id="Title" class="alert alert-info BarTitle">
        <span class="entypo-info-circled"></span>
        <strong>查看编辑（此二维码用于给第三方商户授权）</strong>
    </div>
    <div id="EditLeftArea">
        <div class="form-group">
            <label class="col-sm-3 control-label">名称</label>
            <div class="col-sm-6">
                <input id="Name" type="text" class="form-control NeedFill">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">点率(0-100)</label>
            <div class="col-sm-6">
                <input id="Rate" type="text" class="form-control NeedFill" onkeyup='this.value = this.value.replace(/[^\d.]/g, "")'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-6">
                <input id="Remark" type="text" class="form-control">
                @*<input type="checkbox" />
                    添加到二维码底部*@
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">状态</label>
            <div class="switch col-sm-6" data-on="success" data-off="warning">
                <input type="checkbox" id="QRStatus">
            </div>
        </div>

    </div>
    <input type="hidden" id="RecId" />
    <div id="EditRightArea">
        <img style="width:180px;height:180px;" id="QRImg" src="" />
    </div>

    <div class="ButtonList">
        <button type="button" class="btn btn-warning" onclick="New()">新增</button>
        <button type="button" class="btn btn-success" onclick="Save();">保存</button>
    </div>
</div>
